[2019-07-18 21:32] AnthonyReid99 opened #75 "Support for autoupdating but not merging"
Would it be possible to allow auto-updating on a branch but NOT auto-merging?

Absence of this feature is UNACCEPTABLE!!!! 🛑😡😢

Thanks :)

[2019-07-21 13:03] chdsbd commented on #75
Lol. I wasn't watching this repo on Github so I didn't see this until now.

I'm curious why you would want to update a branch without merging. I think there may be a different feature that could be added to better support that use case. Do you want to define the commit messages yourself or is it something else?

I'm not sure kodiak would be useful if it only updated branches and didn't merge them.

[2019-07-23 18:18] AnthonyReid99 commented on #75
Perhaps I've misunderstood how github handles updating branches, I'm basically looking for something that rebases my branch on master whenever master updates (if it's possible, and maybe alert me if not possible due to merge conflict). If GH creates merge commits for these, then I can see your point about creating unnecessary commits.

Perhaps Kodiak is not the bear for me?

[2019-07-23 18:28] chdsbd commented on #75
It's certainly possible to update your branch when the target (e.g. master) updates, and that's what some projects listed in the [prior art section](https://github.com/chdsbd/kodiak#prior-art) like [bulldozer](https://github.com/palantir/bulldozer) do, but it's inefficient.

Automatically updating every PR whenever the target changes is wasteful because only one of those PRs will be merged if we e

[2019-07-23 18:35] AnthonyReid99 commented on #75
Yeah, that makes sense. The reason I rebase my branch whenever I notice it's out of date is just to stay on top of potential merge conflicts. But I do see how that could be wasteful

[2019-07-23 18:36] chdsbd commented on #75
If you get a merge conflict kodiak will leave a comment on your PR which should give you a notification through Github.

[2019-07-25 00:12] lucleray opened #81 "Automatically merge without a label"
Hi! Thank you for this very sweet github app!

We're using it but we found ourself always adding the automerge label. Could it be optional?

Maybe like this:
[code]

Thank you for your help 🙏

[2019-07-25 00:13] chdsbd commented on #81
Yeah, that should be a quick change.

[2019-07-25 00:22] chdsbd commented on #81
@lucleray Thoughts on adding another config option `require_automerge_label` instead of making `automerge_label` a union of str and bool? I think having a distinct config to enable this feature might be better.

[2019-07-25 00:22] lucleray commented on #81
Sounds great @chdsbd

[2019-07-25 00:23] lucleray commented on #81
@chdsbd Also, what's the difference between setting `block_on_reviews_requested` to `true` or `false`?

[2019-07-25 00:26] chdsbd commented on #81
@lucleray If you have an open review request for a team member, kodiak won't merge the PR until that person leaves a review, even if your PR is passing all the required status checks. Does that make sense?

[2019-07-25 00:29] lucleray commented on #81
Yes! Absolutely. So if I set it to `false`, but I have this set up:

<img width="718" alt="Capture d’écran 2019-07-25 à 02 27 31" src="https://user-images.githubusercontent.com/6616955/61837161-ccb6ed80-ae83-11e9-9ff4-1f0d1d50d610.png">

Will this rule I have on my protected branch be verified before merging?

[2019-07-25 00:31] chdsbd commented on #81
Kodiak will always obey your branch protection rules (it will refuse to do anything without one setup).

`block_on_reviews_requested` is in addition to branch protection rules. So even if you have all your required reviews on a PR, if you have a review request that hasn't been answered, kodiak will wait on that review until it enqueues the PR for merge.

[2019-07-25 00:33] lucleray commented on #81
Amazing! This is perfect!

[2019-07-25 00:36] rauchg commented on #81
![image](https://user-images.githubusercontent.com/13041/61837420-85a40a80-ae39-11e9-8624-bcf008f03fde.png)

Kodiak + ZEIT Now is a dream, tell your friends!

[2019-07-25 00:38] rauchg commented on #81
If you set up GitHub sponsors we'd love to contribute!

[2019-07-25 00:39] chdsbd commented on #81
Okay, I've added #82 which adds this feature. I'll get it deployed within the next hour.

@rauchg Thank you. I'll look into setting that up.

[2019-07-25 00:39] chdsbd commented on #81
Please be sure to request any features/changes you think of.

[2019-07-25 00:39] #81 closed

[2019-07-25 00:48] chdsbd commented on #81
Out of curiosity, how did you all find out about kodiak? 😄

[2019-07-25 00:53] lucleray commented on #81
I searched "auto update PRs bot" and you were in third place: https://www.google.com/search?q=auto+update+PRs+bot

I immediately liked the logo

[2019-07-25 01:36] chdsbd commented on #81
I've deploy a new version with this change. Let me know if there are any problems.

[2019-07-25 01:47] Timer opened #83 "Bot not updating PR"
It seems the bot is not updating the PR with the latest changes from the `canary` branch (the default GH branch).

https://github.com/zeit/next.js/pull/7704

It's stuck as:

The `optimistic_updates` is set to `true`, FWIW.
Also using the new `require_automerge_label = false` option if it matters.

[2019-07-25 01:51] Timer opened #84 "Bot issuing duplicate comments"
![image](https://user-images.githubusercontent.com/616428/61839861-2d7eff80-ae5d-11e9-9f78-10c55e6052bf.png)

https://github.com/zeit/next.js/pull/8061

I had to disable the bot as it was doing this on all open PRs.
Also, if `require_automerge_label = true`, it shouldn't specify a label in its message.

Additionally, we've customized the label `automerge_label = "lgtm"` so this message seems hard-

[2019-07-25 01:52] chdsbd commented on #83
I think it's waiting on the tests to pass, but I'm not sure. Let me dig into this a bit.

[2019-07-25 01:53] chdsbd commented on #83
It seems odd that it's trying to merge with that required status check not passing.

[2019-07-25 01:56] Timer commented on #83
I had to disable the bot now per https://github.com/chdsbd/kodiak/issues/84, but yeah not sure what's going on. 🤔

[2019-07-25 01:57] chdsbd commented on #84
Sorry about that. I'll try to reproduce this and get back to you.

[2019-07-25 01:58] Timer commented on #84
Here's our [`.kodiak.toml`](https://github.com/zeit/next.js/blob/canary/.kodiak.toml) if it's helpful.

[2019-07-25 01:59] chdsbd commented on #84
Do you mind sending me your branch protection settings for the target branch of the PR?

[2019-07-25 02:08] Timer commented on #84
![image](https://user-images.githubusercontent.com/616428/61840565-8ea7d280-ae5f-11e9-97f2-213f22f39675.png)

[2019-07-25 02:09] chdsbd commented on #84
Was the PR approved by a code owner when kodiak was trying to merge it?

[2019-07-25 02:10] Timer commented on #84
Yes

[2019-07-25 02:10] Timer commented on #84
This issue is different, OP was not approved by anyone.

[2019-07-25 02:11] chdsbd commented on #84
Ohhhhhhh. Okay. I know a piece of this problem.

[2019-07-25 02:12] chdsbd commented on #84
We prevent sending duplicate comments by removing the automerge label after adding the comment. Since we aren't using the automerge labels, we get a bunch of duplicate comments.

[2019-07-25 02:12] Timer commented on #84
Just to clarify #83 and this issue (#84) were on **different** PRs.

[2019-07-25 02:13] chdsbd commented on #84
Yeah, I think #83 must be something else.

[2019-07-25 02:14] Timer commented on #84
Hmm, random thought. `notify_on_conflict` and `require_automerge_label` don't really work well together.

`require_automerge_label = true` needs to imply `notify_on_conflict = false`, or at least only check for conflict once already approved.

[2019-07-25 02:15] chdsbd commented on #84
Yeah, I agree.

[2019-07-25 02:15] Timer commented on #84
I've disabled `notify_on_conflict` for now! 😄

[2019-07-25 02:18] chdsbd commented on #83
I'm going to look into reproducing this more, but my first suspicion is that this may have been from the deploy.

[2019-07-25 02:31] chdsbd commented on #83
Related, kodiak thinks [this PR](https://github.com/mcansh/blog/pull/522) is okay to merge, but when it attempts to merge it, it gets an error from the Github API, which we don't log in detail, so I'm not sure what it is.

[2019-07-25 02:36] chdsbd opened #87 "Support CODEOWNERS for evaluating mergeability"
We only display the default status message ("Merging blocked by branch protection settings") when a PR is blocked on a required code owner review. It would be nice to display a detailed message.

Related: #96

[2019-07-25 02:43] sbdchd commented on #87
Also need to consider how to handle future checks that github might add.

[2019-07-25 02:44] chdsbd commented on #84
This should be fixed when #86 is deployed.

[2019-07-25 02:45] sbdchd commented on #84
The bad templating should be fixed in #88

[2019-07-25 02:47] chdsbd opened #89 "Not handling missing valid signatures"
We seem to handle our calculation incorrectly here and we're getting the following response from the Github api.

[code]

[code]

rel: https://help.github.com/en/articles/about-required-commit-signing

[2019-07-25 02:48] sbdchd commented on #89
Maybe we add another case to `self.set_status()`? Can we add links in there?

[2019-07-25 02:49] chdsbd commented on #89
Certainly, but we're not catching this in the mergeability check. This is hitting us when we try to merge the PR that we erroneously think is mergeable.

[2019-07-25 02:58] chdsbd commented on #89
Okay, I reproduced this. The problem is if require signatures is enabled. Kodiak will try to merge the PR, but the commit kodiak tries to create through the Github api doesn't have a signature. I'm not sure there is a way for kodiak to make a signed merge commit, so we may just have to not support this setup.

[2019-07-25 03:02] sbdchd commented on #89
The api docs don't seem to mention signing commits so we maybe SOL.

https://developer.github.com/v3/pulls/#merge-a-pull-request-merge-button

[2019-07-25 03:24] chdsbd commented on #84
This change has been deployed.

[2019-07-25 03:24] #84 closed

[2019-07-25 03:25] chdsbd commented on #84
Please reopen if this doesn't fix it. 🤞

[2019-07-25 03:28] Timer commented on #87
The PR API response has a `mergeable` property you can inspect.

[2019-07-25 03:29] chdsbd commented on #89
After #90 we now display an error in the github check.

[2019-07-25 03:30] chdsbd commented on #87
I may be wrong, but I think that only considers github status checks, not Github Check suites/runs. I'll double check.

[2019-07-25 03:32] chdsbd commented on #87
We also do check mergeable here: https://github.com/chdsbd/kodiak/blob/master/kodiak/evaluation.py#L151-L152

[2019-07-25 03:34] chdsbd commented on #83
@Timer Does this branch use the same branch protection as https://github.com/chdsbd/kodiak/issues/84#issuecomment-514865983?

[2019-07-25 03:35] Timer commented on #83
Yes!

[2019-07-25 03:37] chdsbd opened #92 "Do we consider if the merge method specified in the config is allowed?"

[2019-07-25 03:38] chdsbd commented on #92
False alarm. We do check: https://github.com/chdsbd/kodiak/blob/c124e9f870fa1fa1b31b7b9123faa003d1c63669/kodiak/evaluation.py#L124-L132

[2019-07-25 03:38] #92 closed

[2019-07-25 04:28] chdsbd commented on #83
I've tested with the following config and I haven't been able to reproduce the issue.

![Screen Shot 2019-07-24 at 11 54 15 PM](https://user-images.githubusercontent.com/1929960/61844769-9f137980-ae6e-11e9-9f37-de2df0c38545.jpeg)

I've added some more detailed logging so hopefully we'll be able to better debug any issues that pop up.

Please reopen this ticket if this issue occurs again.

[2019-07-25 04:28] #83 closed

[2019-07-25 04:29] chdsbd commented on #87
I'm not sure how to find code owners and if they have reviewed a PR via the Github API.

[2019-07-25 04:35] chdsbd commented on #87
Currently if you have code owners enable and a member of the repo that is not a code owner approves the PR, kodiak will think the PR is good to merge. However when it tries to merge, it will get a `pull_request.mergeStateStatus == MergeStateStatus.BLOCKED` and trip `raise NotQueueable("Could not determine why PR is blocked")`.

[2019-07-25 04:36] chdsbd commented on #87
To make this more clear to users we could add a check to disable merging if `requiresCodeOwnerReviews` is set on the branch protection.

[2019-07-25 05:56] abhijithvijayan commented on #87
Had issues with this at https://github.com/onepassapp/onepass/

For now, I removed `requires Code Owner Reviews` from GitHub settings, and the bot was stuck waiting for the same count.

So I removed the label and once again assigned the same label, and then the bot picked it up and merged it.

[2019-07-25 10:20] chdsbd commented on #87
That makes sense because Kodiak is driven by webhook events, which would only get triggered by a change to the PR.

I think the status message should be changed because Kodiak isn’t actively waiting for reviews. The next event on the PR would trigger a re-evaluation of mergeability.

[2019-07-25 11:02] chdsbd commented on #87
Thoughts on adding this change which will completely disable kodiak for code owners? https://github.com/chdsbd/kodiak/pull/96

[2019-07-25 11:12] abhijithvijayan commented on #87
Adding the option to disable auto merging until a review by a code owner is approved seems to be perfectly fine.

This change will only pause kodiak from merging until approved, right?

If so, it seems perfectly fine.

[2019-07-25 11:32] Timer commented on #83
Great, will reenable the bot and report back.

[2019-07-25 11:53] chdsbd commented on #87
I was going to disable kodiak for PRs that have `requiresCodeOwnerReviews` set, but I think we can probably make CODEOWNERS work with some effort. I've updated #96 with a list of what needs to be done.

[2019-07-25 12:17] chdsbd commented on #87
I’m going to try to work on #96 after work. It’s a bit more involved of a change because the github api doesn’t provide a simple field to query for the information, so we need to fetch and evaluate the CODEOWNERS file against all the files in a PR and match the results against any reviews provided to the PR.

[2019-07-25 12:28] abhijithvijayan commented on #87
It seems a lot, but most repos have branch where PRs are requested to, enabled code owners review.

After the review, the code owner can put the merge label which when set to wait for ci to pass can then be merged by the bot.

Seems better instead of disabling, dont you think?

[2019-07-25 12:34] chdsbd commented on #87
Yeah. I’m not going to disable kodiak, we can add support for CODEOWNERS instead via #96.

[2019-07-25 15:52] rgeraldporter opened #98 ""could not determine why PR is blocked" error"
<img width="763" alt="Screen Shot 2019-07-25 at 11 50 56" src="https://user-images.githubusercontent.com/955052/61888949-89d03680-aed2-11e9-9388-0f114ad42964.png">

Hi folks, currently seeing this in a (private) repo where I'm testing kodiak out. Is there some way I can find out more about why it's blocked from merging? It currently has the two requisite reviews it requires for merging, and other

[2019-07-25 16:06] jukben opened #99 "Missing required review count when branch is out-of-date"
Hey, first of all, thanks for that – it looks dope 🔥 . Right now we are playing with it but I guess I found a bug. In case branch is out-of-date *kodiak* is unable to update it (and merge it).

If the branch is up-to-date automerge is OK.

Could you please help me out? 🙏

## kodiak.toml

[code]

## Example

![Screen Shot 2019-07-25 at 18 02 00](https://user-images.githubusercontent.com/8135252/618

[2019-07-25 16:08] chdsbd commented on #98
@rgeraldporter Do you have CODEOWNERS enabled? It may be related to #87. If not, can you send a screenshot of your branch protection settings?

This error occurs when Github says a PR is blocked, but kodiak doesn't know the reason, likely because we don't handle some branch protection setting.

Here's the code: https://github.com/chdsbd/kodiak/blob/master/kodiak/evaluation.py#L262

If you meet all

[2019-07-25 16:11] chdsbd commented on #99
What's your repo name? I don't see anything right off the bat that looks incorrect.

[2019-07-25 16:12] jukben commented on #99
Sorry, the repo is private right now 😞

I will try to recreate the situation on public repository. Thanks!

[2019-07-25 16:13] chdsbd commented on #99
No, that's fine, I was hoping to associate it with an error in the logs.

[2019-07-25 16:17] rgeraldporter commented on #98
Ah, yes, when I removed the code owners stuff, it merged fine. I'm guessing that's something you're working on from what I see in other discussions?

[2019-07-25 16:17] #98 closed

[2019-07-25 16:19] chdsbd commented on #98
Yeah. Hopefully it will be done by tomorrow.

[2019-07-25 16:20] rgeraldporter commented on #98
thanks! Looking forward to it.

[2019-07-25 16:25] Timer opened #100 "Failed to update branch"
https://github.com/zeit/next.js/pull/8020/checks?check_run_id=177364070

There's no reason this branch should've failed to been updated AFAIK.

[2019-07-25 16:25] chdsbd commented on #99
I don't see any errors in the logs, so I'm not sure why it's not working. Can you try updating the PR (changing the title, body, adding a label, etc.) and see if kodiak does something?

Kodiak only looks at a PR when it gets a webhook event for it.

[2019-07-25 16:27] chdsbd commented on #100
These are the logs I have for it. Not sure why Github is saying that.

[code]

[2019-07-25 16:28] chdsbd opened #101 "Bad templating on failed to update message"
See this checkrun for the bad template: https://github.com/zeit/next.js/pull/8020/checks?check_run_id=177364070

Need to make this an f-string: https://github.com/chdsbd/kodiak/blob/75843635ed3c21946103f388fd3545ae8acc4dfc/kodiak/queue.py

[2019-07-25 16:30] jukben commented on #99
@chdsbd That was the first thing I tried (to remove and add the `automerge` label) – till nothing. Now I tried to push something into the branch – for a second I've seen different status – but I ended up in the same state.

![Screen Shot 2019-07-25 at 18 28 13](https://user-images.githubusercontent.com/8135252/61891535-26fa9180-af0a-11e9-8fa5-d0246f9bc0a9.png)

[2019-07-25 16:32] chdsbd opened #102 "present config parsing errors to the user"

[2019-07-25 16:35] chdsbd opened #103 "increase logging verbosity"
We don't log enough which makes it challenging to debug issues. See #99

TODO
- [ ] add more logging
- [x] ensure the structlog integrates with sentry like the normal logging module.

[2019-07-25 16:39] chdsbd commented on #99
Sorry, the logging on this project isn't super verbose, so I can't find the immediate issue. There aren't any errors in the logs, so I figure there is some miscalculation in the mergeability logic: https://github.com/chdsbd/kodiak/blob/master/kodiak/evaluation.py

I think if you could make a public repo I could better debug this issue by running the graphql query kodiak uses to fetch mergeability

[2019-07-25 16:45] chdsbd commented on #100
It could be something to do with forks. I haven't played around with those before.

[2019-07-25 16:47] chdsbd opened #104 "support updating pull requests made from forks"
Github's API doesn't support updating forks: https://developer.github.com/v3/repos/merging/#perform-a-merge

For reference, if it did, we would need to update this code to use the head/repo information of the fork:
https://github.com/chdsbd/kodiak/blob/7375b45e9d095d7532c9401792a15427ab428993/kodiak/pull_request.py#L296-L299

To work around this API limitation I thought we might be able to [clone

[2019-07-25 16:48] Timer commented on #100
Yup, just so you know these PRs have the "allow edits from maintainers" toggle enabled.

[2019-07-25 16:51] chdsbd commented on #100
Good to know. I'm going to close this in favor of #104. Has kodiak updated forks in the past for you?

[2019-07-25 16:57] #100 closed

[2019-07-25 17:15] Timer commented on #100
I don't believe so -- just trying to use Kodiak on an open source project instead of our internal apps.

[2019-07-25 17:25] chdsbd opened #106 "add merge message option to delete body"
Related: https://github.com/paulirish/lighthouse/pull/27

[2019-07-25 17:28] chdsbd commented on #100
Thanks. That's useful information. I've documented this problem in the [README#known-issues](https://github.com/chdsbd/kodiak#known-issues) until #104 is addressed.

[2019-07-25 17:37] chdsbd opened #107 "warn user if kodiak check is marked as required"
Kodiak status messages from check runs will always be neutral, so I think if the `kodiakhq: status` is required, kodiak will never be able to merge the PR. We should warn users about this.

[2019-07-25 17:42] chdsbd opened #108 "enumerate required status checks kodiak is waiting to complete"

[2019-07-25 18:46] jukben commented on #99
OK, that's super weird I can't reproduce it https://github.com/jukben/sandbox.

Next step gonna be try it in different private repo in that organization from what the original example is coming from.

[2019-07-25 18:49] chdsbd commented on #99
Yeah, I think that should enable me to run the graphql query and maybe reproduce it: https://github.com/chdsbd/kodiak/blob/master/kodiak/queries.py#L57

Are you able to reproduce in your private repo?

[2019-07-25 18:56] jukben commented on #99
OK, I invited you into the private repository – it's complete rubbish, but you will be able to see the open PR there. So you might be able to debug it, I'm kinda curious what is the issue. 🤔

[2019-07-25 19:00] chdsbd commented on #99
Cool. I'm in, thanks!

[2019-07-25 19:08] chdsbd opened #109 "Fix evaluation of reviewer credibility"
This check is inaccurate: https://github.com/chdsbd/kodiak/blob/5eceba2439209465ce5a27a4b7fefe24a7ba49c7/kodiak/evaluation.py#L177

Github docs: https://developer.github.com/v4/enum/commentauthorassociation/

NOTES
- It seems like `authorAssociation` is an insufficient check. We should instead be checking if the user has write access to the repository: <img width="430" alt="Screen Shot 2019-07-26

[2019-07-25 19:11] chdsbd commented on #99
This is confirmed to be a bug in our logic as described in #99.

Thanks @jukben for your help!

I'm going to close in favor of #99.

I'll fix this sometime this evening. If you want to get your hands dirty the fix should only require deleting that logic and correcting the associated test.

[2019-07-25 19:11] #99 closed

[2019-07-25 19:18] jukben commented on #99
Great news, @chdsbd!

I'm removing you from the repository. Glad that you have figured it out. Unfortunately, I'm super lame in Python so I will leave it for you.

Thanks again and looking forward to use it. 💪

[2019-07-25 19:32] chdsbd commented on #99
No worries. Thanks for helping me debug the issue!

[2019-07-25 22:28] chdsbd commented on #107
I've tested this an it appears to _not_ be an issue.

[2019-07-25 22:28] #107 closed

[2019-07-25 23:29] chdsbd opened #113 "display requested reviewer names"
We need to update our graphql query to fetch more information about requested reviews.

Related #112

[2019-07-26 00:24] chdsbd commented on #108
Fixed in #112

[2019-07-26 00:24] #108 closed

[2019-07-26 00:24] chdsbd commented on #106
Fixed via #111

[2019-07-26 00:24] #106 closed

[2019-07-26 00:33] chdsbd commented on #101
Fixed via #110

[2019-07-26 00:33] #101 closed

[2019-07-26 07:23] tdeekens opened #117 "Add ability to exclude certain status checks"
Thanks first of all for this bot! I've been looking and trying verious different bots in the past and this so far works like a charm.

I would like to get feedback/share one idea though.

In CircleCI (and likely other CI/CD systems) you can have pending or approval steps. E.g. a step when wanting to deploy a branch which won't be triggered on all PRs. This check then shows up on GitHub has pending

[2019-07-26 08:59] tdeekens commented on #98
Thanks for the discussion here. I am seeing the same "issue" and am not using code owners. I am wodnering if this setting also prevents the bot to merge. If so how could I work around it:

<img width="732" alt="CleanShot 2019-07-26 at 10 58 57@2x" src="https://user-images.githubusercontent.com/1877073/61939823-6b327400-af94-11e9-831f-fba4d974f0a9.png">

[2019-07-26 11:19] chdsbd opened #118 "Support configuring kodiak to not wait for certain checks"
Sometimes a check will never succeed and will always stay in a pending state. The [wip app](https://github.com/apps/wip) is an example of this where while "WIP" is in the title of a PR, the WIP app will have a "pending" status check.

By default, kodiak would wait infinitely for this check to pass. The workaround we have now is the blacklist_title_regex, but we need something more robust to enable

[2019-07-26 11:20] chdsbd commented on #117
Kodiak should only wait on status checks that are marked as "required" in branch protection settings.

There is a catch where if you have a check that is marked as "required", but is always in the "pending" state, Kodiak will be stuck waiting on that check and not merge other PRs. Is this the problem you are encountering?

I think we could probably mark certain checks as "success" only, meaning if

[2019-07-26 11:21] chdsbd commented on #98
@tdeekens Can you open a new issue? I think the issue you've encountered is different.

[2019-07-26 11:33] tdeekens opened #119 "GitHub's "Restrict who can push to matching branches" prohibits merge"
Thanks again for the bot. As discussion on another issue here a new one.

This option in GitHub:

<img width="732" alt="61939823-6b327400-af94-11e9-831f-fba4d974f0a9" src="https://user-images.githubusercontent.com/1877073/61949050-de92b080-afa9-11e9-8163-524e2129f549.png">

Disallows the bot to merge a PR. We use the option on Open Source repos to restrict access. Is there a way to allow the bot t

[2019-07-26 11:36] tdeekens commented on #117
Thanks for the elaborate response. From what I can tell this would solve the issue. I however also wasn't ware that Kodiak only waits for required checks. Other bots just waited for any check. I will test again if this issue holds with Kodiak then.

[2019-07-26 12:13] chdsbd commented on #119
Hmm, this is tricky. I haven’t used this branch protection feature before, but from the looks of it, I bet Github doesn’t allow bot users to be added there. Is that correct?

I’m not sure there is anything we can do to support this besides reporting the issue to Github.

Let me know if you’re able to add Kodiak there. If not, I’ll document this limitation in the Readme and add a status message war

[2019-07-26 12:18] tdeekens commented on #119
No sadly I can't cause Kodiak is not user nor in a group to my knowledge. At least I failed to find the bot there.

[2019-07-26 12:22] chdsbd commented on #119
Hmm, that’s disappointing. I’ll document this limitation sometime today.

Let me know if you figure out a workaround.

[2019-07-26 12:30] lucleray opened #120 "Update branches immediately to match target"
Hi 👋

Currently, PR branches are updated once all the other checks pass (approvals, label, ...).

I'd like to suggest updating the branch even when all those checks don't pass. The reason behind that is that we want to know that our branch is breaking as soon as possible. If we wait for all the other checks to pass, we might be losing time reviewing a branch that is broken once master in merged in

[2019-07-26 12:38] tdeekens commented on #119
It sounds like a limitation to any bot though. I am not sure how other bots would get around this.

[2019-07-26 13:04] chdsbd commented on #120
I've talked about this a little bit before in https://github.com/chdsbd/kodiak/issues/75, but let me expand on that.

Kodiak tries to be efficient when updating branches, so it will only update a branch when it's about to be merged into the target branch. This is by design to reduce useless updates to other branches.

We could definitely add this feature, the challenge I see is that whenever the t

[2019-07-26 13:05] chdsbd opened #121 "address review comments from #116"
Comments were added to https://github.com/chdsbd/kodiak/pull/116, but the PR was merged because changes weren't requested. These comments should be addressed in another PR.

[2019-07-26 18:48] pacocoursey opened #122 "Automatically merged PRs do not close associated issues"
GitHub released a feature so that any issues mentioned in PRs will be [automatically closed](https://help.github.com/en/articles/closing-issues-using-keywords) once the PR is merged. However, it looks like PRs merged by the `kodiak` bot do not automatically close the associated issue(s).

You can see an example here in this repository: #111. Even though you referenced the issue in the description:

[2019-07-26 19:21] chdsbd commented on #122
Yeah, I've documented that issue in the README: https://github.com/chdsbd/kodiak#known-issues

I think there is a bug with Github and I made a support ticket. I will update this ticket if I learn more.

I guess we could try to parse out the "fixes" syntax ourselves and close the related PRs, in a similar way to how we delete PRs on merge, but I'd prefer _not_ to do if we don't have to.

Would you

[2019-07-26 19:24] chdsbd opened #123 "add issue templates"

[2019-07-26 21:35] pacocoursey commented on #122
Oops, I should have read more carefully. Sorry about that!

That would be great, but totally up to you. Since this is GitHub's issue it's certainly not your responsibility to get it working.

Keep us updated with the support ticket!

[2019-07-26 22:16] chdsbd commented on #102
Fixes in #116

[2019-07-26 22:16] #102 closed

[2019-07-26 23:22] chdsbd commented on #121
Fixed in #116

[2019-07-26 23:22] #121 closed

[2019-07-27 03:03] #123 closed

[2019-07-27 03:04] #113 closed

[2019-07-27 03:51] chdsbd commented on #122
I should have just looked at the support forum.

It seems like kodiak needs write permissions on issues to close them via the "fixes" syntax. This should be an easy change, although it will require everyone to accept new permissions (not sure how that affects kodiak when people haven't accepted).

[2019-07-27 04:28] chdsbd commented on #122
I've requested issue write permissions for Kodiak and you should get an email with a link to a prompt like the following. Please accept the new permissions to enable closing issues using keywords.

<img width="607" alt="Screen Shot 2019-07-27 at 12 26 12 AM" src="https://user-images.githubusercontent.com/1929960/61989935-2c88d200-b005-11e9-831a-639084643f62.png">

[2019-07-27 04:28] #122 closed

[2019-07-27 10:43] lucleray commented on #122
Thanks!

[2019-07-27 18:51] chdsbd commented on #100
@Timer It appears that it is only possible to update branches within the same repo through the Github API, so I think the best we can do for this issue is to display a warning to users for affected PRs (PRs from forked repos).

https://developer.github.com/v3/repos/merging/

[2019-07-28 00:36] Timer commented on #100
Thanks for the update @chdsbd! Hopefully GitHub can fix this soon.

[2019-07-28 15:34] #109 closed

[2019-07-28 15:38] chdsbd commented on #117
I'm going to close this issue as I think #118 covers this. Please reopen if you feel differently.

[2019-07-28 15:38] #117 closed

[2019-07-28 15:52] chdsbd opened #138 "Evaluate efficiency of v3 api requests for permission info compared with v4 query"
I overlooked an attribute in the graphql API when building #134. It appears possible to get user permission info through `Repository.collaborators.edges.permission`: https://developer.github.com/v4/object/repositorycollaboratoredge/

[code]

With the v3 api we are making an api for each review we have on a PR. If we use the v4 api we need to fetch _all_ of the collaborators of a repo (will need to

[2019-07-28 17:38] chdsbd commented on #87
@Timer @abhijithvijayan I realize now that this issue may have been misleading. Kodiak has always supported code owners, Kodiak just had a somewhat misleading default message for when it didn't understanding why a PR was blocked.

Even if Kodiak doesn't understand why a PR is blocked it will still process and merge the PR just fine. The only issue is that it doesn't display a precise reason why th

[2019-07-28 18:07] abhijithvijayan commented on #87
@chdsbd

That sounds better.

Also, as I mentioned earlier, even if codeowners review required is enabled, if kodiak could merge it after the review was submitted by the codeowner and the label was issued, that will be a success.

As github issues the right messages, it is less concern as you said about the message Kodiak supplies. I think its good to go as long as it can merge on approved review

[2019-07-28 18:11] chdsbd commented on #87
@abhijithvijayan Thank you for the quick response. The flow you describe is how Kodiak works now. So you should be able to use code owners right now, you'll just have the kind of ominous "Could not determine why PR is blocked" message until a code owner reviews the PR.

That default message will be updated as described on the next deployment.

I'm going to go ahead and close this issue and the cor

[2019-07-28 18:22] chdsbd commented on #87
Okay, I spoke too soon. It turns out that to support efficient updates of PRs we _must_ calculate the mergability of a PR ourselves.

If a PR is behind master and the branch protection feature requiring branches to be up to date is enabled, Github only indicates that the PR is behind master, not that it is blocked by failing status checks!

I think after all this we _must_ implement this CODEOWNER

[2019-07-29 01:54] #118 closed

[2019-07-29 03:07] chdsbd opened #145 "merge.dont_wait_on_status_checks triggers multiple branch updates"
When `merge.dont_wait_on_status_checks = ["WIP"]` is configured with the WIP app, Kodiak creates multiple updates to a PR.

I think this is because when Kodiak is merging a PR and encounters a pending status check in `merge.dont_wait_on_status_checks`, it will mark the status check as failing, booting the PR from the merge queue when in reality it should have waited a bit more for the status check

[2019-07-29 10:50] chdsbd opened #146 "Kodiak cannot see requested teams for review"
We're getting error in sentry since `requestedReviewer` appears to be null for the app when it's a team.

[code]

I think we didn't notice this because we were testing with personal access tokens!

[2019-07-29 10:58] chdsbd commented on #146
I've requested new permissions to fix this and will document it in the README

[2019-07-29 12:28] #146 closed

[2019-07-31 01:50] #145 closed

[2019-07-31 12:51] jukben opened #150 "Update by `rebase` strategy"
Hey, I'd really love to use this, but our strategy is to update branch by rebase and then merge it to master. However, if I understood it correctly, the update strategy is `merge`, could it be a `rebase` instead?

[2019-07-31 12:57] chdsbd commented on #150
I'm not sure I exactly understand your question.

Kodiak currently uses this api call to update the PR branch with the target. Basically the equivalent of the "Update Branch" button. https://developer.github.com/v3/repos/merging/

Kodiak then merges the PR into the target based on the config: "squash", "merge", "rebase". This is equivalent to the "Merge" button and uses this api call: https://deve

[2019-07-31 13:19] chdsbd commented on #150
Okay, I think I understand now. Please correct me if I'm misunderstanding.

Instead of using a merge commit to update your branch you'd like to see Kodiak rebase all the commits in the PR against master. (rebase the commits and force push to the PR)

It seems like we'd need to do something like what this npm package does: https://www.npmjs.com/package/github-rebase#step-by-step

This should be pos

[2019-07-31 13:43] jukben commented on #150
Exactly as you said in the second comment. I'd like to rebase all the commits in the PR against master (and thus "update" the branch). I didn't realise Kodiak uses the "Update Branch" button, make sense though.

I'm definitely interested in it, that cherry-pick trick it's crazy but if it gonna work. Why not, right. I believe updating by rebasing against master is actually quite common, so it might

[2019-08-01 19:09] watchinharrison commented on #120
I can understand the inefficiency in this but it would be nice to opt into this functionality, if at all possible

[2019-08-01 19:10] chdsbd commented on #120
@watchinharrison I agree. This is a planned feature and I should have time to work on it after #96 is fixed.

[2019-08-01 23:13] chdsbd opened #152 "use target branch instead of default branch name for fetching kodiak config"
We currently fetch the kodiak config from the default branch name. I think it would be better if we did it based on the target repo, as that would better match with how branch protection behaves. It would also let users have multiple branches with different kodiak configurations.

[2019-08-02 06:58] tdeekens opened #153 "PR merges already when reviewers have commented"
Thanks again for the bot! We noticed something confusing yesterday I wanted to clarify/ask about.

[code]

If this behaviour intended or am I confusing something? :)

[2019-08-02 10:42] chdsbd commented on #153
GitHub counts a comment as a review. Since Kodiak depends on the PR state to find this information, once a comment is left the review request is gone and Kodiak thinks the PR is mergeable.

As a workaround you may be able to use branch protection to require approving reviews.

I’m not immediately sure how to fix this issue.

I’m hesitant to store state about PRs in kodiak because I think it could

[2019-08-02 10:51] chdsbd commented on #153
I think we can probably use the issue events api to derive this information so we don’t need to keep the state ourselves.

https://developer.github.com/v3/issues/events/#list-events-for-an-issue

[2019-08-04 22:22] AbdulAli19 opened #154 "add config to merge on specific comment"
right now, kodiak merges pr's that match a specific label (default is `automerge`). it'd be nice if it worked with comments as well.

#### suggestion
a new config e.g., `automerge_comments`  that takes in a list of strings and kodiak attempts to merge when any of the specified strings are present in a pr comment

[2019-08-05 00:28] chdsbd commented on #154
This sounds good. The only concern I have is that when adding comments to trigger merges, it may be awkward to cancel that action. This probably isn't an issue since many other projects work off comments.

[2019-08-08 11:33] lucleray commented on #120
@chdsbd I see this section in the README: https://github.com/chdsbd/kodiak#auto-merging

Is it implemented? How do I activate it? 😃

[2019-08-08 12:27] chdsbd commented on #120
@lucleray the feature described in this PR hasn’t been implemented yet. To enable kodiak right now please follow the setup steps here: https://github.com/chdsbd/kodiak#setup

By default, once you’ve installed the GitHub app you need to add a kodiak configuration file and label your PRs with a label (by default “automerge”) to enable kodiak to automatically merge the PR.

[2019-08-08 12:39] lucleray commented on #120
Sorry, wrong link! I meant to link this section: "Auto-Update branches"

(https://github.com/chdsbd/kodiak#auto-update-branches)

[2019-08-08 12:56] chdsbd commented on #120
@lucleray Thanks. Kodiak only updates a PR when it's up for merging at the moment, so this issue still needs to be addressed to enable updating a PR unconditionally.

[2019-08-08 13:07] lucleray commented on #120
@chdsbd Ok 🙂Thanks for the answer!

[2019-08-11 04:35] #120 closed

[2019-08-11 14:44] chdsbd commented on #120
This feature has been added and deployed to production.

[2019-08-11 15:54] lucleray commented on #120
Thank you @chdsbd!

[2019-08-14 17:29] chdsbd commented on #153
@tdeekens I was thinking about this issue and I'm not sure how it would be possible to cancel a review request once a user's review has been requested.

I'm curious if you have any ideas how to handle canceling a review request if we were to fix this issue.

[2019-08-16 13:28] staabm commented on #89
Not sure it is relatedm but it seems github apps can now sign commits
https://twitter.com/github/status/1162089808656601088?s=20

[2019-08-16 13:41] chdsbd commented on #89
@staabm Great news. Thanks for sharing that.

[2019-08-16 15:10] ardeois commented on #119
I've worked with [bors](https://github.com/bors-ng/bors-ng) in the past, and they handle that through github status checks.

Instead of sending a "neutral" status (like Kodiak does right now), Bors sends a "pending" status by default. When the PR is ready to merge it sends a "success" status then merges the PR.

If you update your branch settings so it requires "bors" status to be green before mer

[2019-08-20 14:31] tdeekens commented on #153
I think I am lacking context. Doesn't GitHub emit a `review_request_removed` event which Kodiak could use to reevaluate if a reviewer was removed again?

[2019-08-20 15:04] chdsbd commented on #153
I think that's correct, but I believe if someone were to leave a comment instead of making a review, that would satisfy the review request. So a user wouldn't be able to trigger a `review_request_removed` event by removing a review request because it would already be gone after the comment.

[2019-08-20 15:17] tdeekens commented on #153
Ah. Then I guess one has to really configure required approvals through GitHub and not Kodiak?

[2019-08-20 23:14] chdsbd commented on #119
GitHub support got back to me and apparently there is an experimental feature they can enable for an organization/user account to allow Github Apps to be added in the "Restrict who can push to matching branches" branch protection setting.

So if you need this, I would contact support and ask them to enable it.

[2019-08-21 06:40] tdeekens commented on #119
If they are working on this I think we can close this issue.

[2019-08-21 06:40] #119 closed

[2019-08-21 08:40] staabm opened #163 "PR doesnt get merged"
sometimes a PR doesnt get merged by kodiak. in this cases kodiak states that it is waiting for 'travis ci' to get green.

but the ci checks already returned green.

this happened e.g. in the following PRs:
https://github.com/redaxo/redaxo/pull/2818
https://github.com/redaxo/redaxo/pull/2856

it works in 95% of our PRs as intended but sometimes doesnt... we werent able to identify why yet

see wher

[2019-08-21 08:43] staabm opened #164 "Kodiak avatar too prominent"
the kodiak avatar image feels a bit to prominent in the commit stream pages.
would be great if the people working on the real stuff would be in the foreground, instead of the bot :-)

https://github.com/redaxo/redaxo/commits/master

![grafik](https://user-images.githubusercontent.com/120441/63416796-65e41000-c400-11e9-897c-c73a02898f15.png)

[2019-08-21 12:36] chdsbd commented on #163
I see the issue. Github branch protection rules compact for `continuous-integration/travis-ci/{pr,pull,build,etc}` into `continuous-integration/travis-ci`. This only happens for `continuous-integration/travis-ci` as far as I can tell.

The fix is pretty straight forward. Thanks for reporting this.

[2019-08-21 12:39] chdsbd commented on #164
To me it looks like the author is in the foreground while kodiak, the committer, is in the background.

I'm not sure we can do anything to change this on our end. It seems like this is just how Github decides to place avatars for authors vs. committers.

[2019-08-21 12:53] staabm commented on #164
thats right. In case the avatar image would be less colorful or something it would stick less into the foreground

[2019-08-22 11:30] staabm opened #165 "use kodiak to keep a pull request up 2 date, but dont merge"
would it be possible to use kodiak in a way that it automatically keeps Pull Requests up 2 date with e.g. the `master` branch but dont merge the results yet?

[2019-08-22 12:22] chdsbd commented on #165
This is possible with the `merge.update_branch_immediately` configuration option. See the readme for more details: https://github.com/chdsbd/kodiak#config-with-comments-and-all-options-set

Related: https://github.com/chdsbd/kodiak/issues/120

[2019-08-22 12:24] chdsbd commented on #165
Actually, I’m not sure that does what you need. Kodiak would still merge the PR.

[2019-08-22 14:16] staabm commented on #165
when using this option, would kodiak keep the branch up2date but dont merge it when e.g. it still requires a "accepted" review from a reviewer?

[2019-08-22 14:20] chdsbd commented on #165
correct

[2019-08-22 14:34] staabm commented on #165
ok, I think this might work for us. thx for the infos.

[2019-08-22 14:34] #165 closed

[2019-08-24 23:59] chdsbd commented on #163
I've opened an issue with GitHub because I think there is some undocumented behavior here on GitHub's side. I have a test case in #166 based on some experimentation with the GitHub api.

It appears that this only affects travis-ci and certain travis-ci checks.

Here are some examples of status check truncation behavior
[code]

I'm not sure of all the travis-ci checks that truncate, I only have `co

[2019-08-25 00:01] chdsbd commented on #163
I think based on this issue [travis-ci#9618](https://github.com/travis-ci/travis-ci/issues/9618), if you want an immediate solution you could move to the newer Checks based api, which I believe won't have this problematic behavior.

[2019-08-25 06:16] staabm commented on #163
Thx for the pointer. i just deleted the old services integrations. Lets see if this fixes the problem

[2019-09-02 08:52] clxmstaab opened #168 ""WIP" app did not prevent merge"
today we opened a pull request with the title-prefix "WIP".

the WIP  check detected the use of this keyword and marked the check as "yellow".
after the travis build succeeded kodiak immediately merged the PR.

![image](https://user-images.githubusercontent.com/47448731/64102193-ba2bb000-cd6f-11e9-9971-c3edd967a165.png)

we expected that kodiak should wait with merging the PR until we remove the "

[2019-09-02 09:37] clxmstaab commented on #168
hmm I get the feeling that kodiak does not wait for the WIP github marketplace app and in my initial tests in which things worked, it worked because of the `blacklist_title_regex` setting.

in my recent test I used the prefix `WIP` but kodiak expects `WIP:` (and the README contains a typo): https://github.com/chdsbd/kodiak/pull/169

[2019-09-02 13:56] chdsbd commented on #168
I think the problem is that WIP isn’t a required check on your repo. If you add it to the branch protection settings kodiak will wait for it.

blacklist_title_regex will prevent a PR from being merged if it matches the regex, but I don’t think it matches the WIP app behavior 100%.

You must use dont_wait_on_status_checks with the WIP app to prevent kodiak from getting stuck waiting for the WIP che

[2019-09-03 03:45] lucleray opened #170 "Merge PRs that are ready first"
Hi,

It happens that two PRs are ready to be merged (marked with the "automerge" label and approved for example). Then, they both go in the queue to be merged.

What happens in our repository sometimes is that the second PR that is "ready to be merged" pass all the tests faster than the first one. But since it is "2nd in the queue", it is slowed down by the other PR.

My suggestion for that would

[2019-09-03 15:40] clxmstaab commented on #168
thanks for your detailed response.

you are right.. the branch protection was not configured properly.

I guess the blacklist_title_regex is then good enough for us. we will use it instead of adding another external service to our builds.

[2019-09-03 15:40] #168 closed

[2019-09-03 21:16] chdsbd commented on #170
I think this should be possible. My first thought is that if a PR is 100% mergeable, instead of placing it in the queue, kodiak could just merge it in.

For the "stuck" issue, you may want to check out the `merge.dont_wait_on_status_checks` config option. It's useful for skipping status checks that haven't passed. I use it for the [WIP app](https://github.com/wip/app), which stays pending until WI

[2019-09-06 02:39] #170 closed

[2019-09-06 02:48] chdsbd commented on #170
I’ll update this issue when #171 is deployed.

[2019-09-07 22:19] chdsbd commented on #170
#171 has been deployed. Let me know if you have any problems.

[2019-09-10 08:39] clxmstaab opened #174 "use update_branch_immediately=true with require_automerge_label=true"
we use the following kodiak config

[code]

and we have the following use-case:
we would like kodiak to automatically merge changes from the target branch into the PR, but do not yet merge them. therefore we use a `WIP:` title-prefix and mark PRs as soon as we want kodiak to update them with the merge-label.

it seems kodiak does not start auto-merging in changes from the target branch as long the

[2019-09-10 09:15] lucleray commented on #170
Thanks 😌

[2019-09-10 11:41] sbdchd commented on #174
Hmm, ‘update_branch_immediately’ should update the PR when the target branch changes.

My first thought is the title blacklist regex is taking precedence over the ‘update_branch_immediately’ feature.

Sounds like a bug in Kodiak

[2019-09-16 21:54] chdsbd commented on #174
Okay, I've looked into #175 and I think we should actually add another configuration option for this behavior. Right now `update_branch_immediately` affects PRs that are mergeable and need an update. I think the behavior you want is to update a PR even if it is marked as "not mergeable" by having WIP in the title.

Would you want kodiak to update a branch even if it has failing status checks, or s

[2019-09-17 07:11] clxmstaab commented on #174
for my use-case it would be great to update the branch even if the build is failing.

in our TRAVIS CI setup a CI running build will automatically be cancelled when new commits are added to a PR. that way we don't get a overlong queue but built only the latest stuff in the Pull requests.
In case we want kodiak to wait for all builds to succeed we would get a really long wait time I guess.

we only

[2019-09-17 07:14] clxmstaab commented on #174
but hey: most of our PRs are green before kodiak gets activated via Pull Request label - though maybe it will just work

[2019-09-24 08:45] clxmstaab commented on #174
any progress/ideas on how to proceed?

[2019-09-24 12:00] chdsbd commented on #174
I looked into implementing this and it was more work than expected. My current plan is to add a `update_branch_immediately_ignore_blocker` option, but it will take a bit. I’ll take a look again this evening.

[2019-10-03 06:53] CarloPalinckx opened #177 "Prevent deleting a branch when there are PR's based on that branch."
It would be nice if there was some way of preventing kodiak to remove the merged branch if any PR depends on it (like the github UI does). Currently, based PR's get closed and the remote branch of that PR get's closed.

[2019-10-03 14:16] chdsbd commented on #177
Is it possible to do this through the GitHub UI right now?

The GitHub API is a pretty close match to the operations available through the UI, so my thought is that if it's not possible to do this through the GitHub UI, it's probably not possible to do through the API.

[2019-10-03 16:43] Aaronontheweb opened #178 "Filter automerging by author"
Possibly related to https://github.com/chdsbd/kodiak/issues/87

I'd like to have the ability to make it more secure to operate Kodiak on OSS projects - specifically, I'd like to have the ability to filter auto-merging by _who sent the request_.

Some use cases:

* If it's someone within my OSS organization, I'd be more lenient on automatically merging the PR than I would be if it's someone outside

[2019-10-10 07:44] CarloPalinckx commented on #177
Github UI does this automatically, there is no opt-out for this if I'm not mistaken.

[2019-10-11 13:49] clxmstaab commented on #174
Hey Christopher,

I guess for my use-case https://github.com/chdsbd/kodiak/pull/175 will already be enough.
in case you dont have time to work on this other options you are refering to, merging my PR would be a great step forward for us.

thanks for considering

[2019-10-17 01:43] chdsbd commented on #174
I haven't looked at this since September, but I think #175 won't resolve your issue. I believe changes need to be made outside of the `mergeable` function. Maybe in [`process_queue`](https://github.com/chdsbd/kodiak/blob/eeda75f13e32e74733a4c3fa612d95ac094549c4/kodiak/queue.py#L178) or [`process_webhook_event`](https://github.com/chdsbd/kodiak/blob/eeda75f13e32e74733a4c3fa612d95ac094549c4/kodiak/q

[2019-10-17 06:25] staabm commented on #174
@chdsbd Any chance you could implement it when we pay you for it?

[2019-10-17 10:16] staabm commented on #153
yep.

[2019-10-17 11:18] tdeekens commented on #153
Sorry if closing was eager but I wasn't sure if there was work planned on this.

[2019-10-17 17:33] jwoudenberg opened #179 "Test multiple PRs in one run of CI"
Thank you for this great project. I've installed in on a repo and it's running beautifully!

One concern I have with using this for larger projects is that a queue like this is only able to merge as many PRs a day as it can run CI in a day. Ideally CI is quick, but when this isn't possible and the amount of PRs merged a day becomes large one might have to wait a long time for a PR to get merged.

[2019-10-18 03:31] chdsbd commented on #179
This sounds like a great idea and I see it being a requirement for high traffic projects.

I looked through some [prior art](https://github.com/chdsbd/kodiak#prior-art) and it seems like this feature is called "rollup" or "batch" in other systems. [Bors seems to have this](https://github.com/graydon/bors/pull/47) as well as derivatives like [homu](https://github.com/barosl/homu#influences-of-bors)

[2019-10-18 03:34] chdsbd commented on #153
This is still a problem I encounter that I would like to fix so I'm going to reopen this. I can create a new ticket if you'd like to close this @tdeekens.

[2019-10-18 03:37] chdsbd commented on #174
@staabm That could work. Not sure how to arrange that, but I think that would be a way forward.

[2019-10-18 04:45] tdeekens commented on #153
No worries. Thanks, I just did not want to bother the project with long running/open issues. You efforts are much appreciated. Our team enjoys the bot every day.

[2019-10-18 06:34] jwoudenberg commented on #179
That makes perfect sense. Thank you for your quick response, and the links!

[2019-10-18 06:34] #179 closed

[2019-10-26 01:37] chdsbd commented on #178
Are you considering using Kodiak with `merge.require_automerge_label = false`? I think if you used automerge labels you could solve all of your use cases because only organization members can add labels and you can [configure dependabot to add labels](https://dependabot.com/docs/config-file/#default_labels) to its PRs.

If you need to use Kodiak without labels I think a few config options could be

[2019-10-26 03:23] #153 closed

[2019-10-26 03:28] #103 closed

[2019-10-26 03:28] #138 closed

[2019-10-26 03:35] chdsbd commented on #177
Could you provide an example that shows how Kodiak should behave and how it actual behaves? I'm not sure I understand your branch and pull request setup.

[2019-11-17 15:26] staabm commented on #174
Could you add the project to github sponsors?

[2019-11-17 16:58] chdsbd commented on #174
@staabm Will do. I've just requested approval for GitHub sponsors and they say it will take 7-10 days for the profile to be approved. I'll ping this issue when I get an update.

[2019-11-18 03:03] theshortcut opened #185 "ValueError('Could not deserialize key data.') when self hosting"
Looking to run kodiak in our own infrastructure. Initially I was adapting the Heroku instructions to our docker-based setup and ran into this error. I then followed through the steps running on Heroku and get the same error there.

It looks like when attempting to work through an item in the queue deserialization fails.

Here is the error:

[code]

Any pointers on debugging this?

[2019-11-18 03:15] chdsbd commented on #185
I checked in my Sentry account for `Could not deserialize key data.` and found this trace from when I was moving Kodiak from Heroku to a VPS. I think the exception is raised because the GitHub app private key is missing.

I'd check that `GITHUB_PRIVATE_KEY` is set correctly to a private key like `-----BEGIN RSA PRIVATE KEY-----\n <private key data here> \n-----END RSA PRIVATE KEY-----`.

[code]

[2019-11-18 16:41] theshortcut commented on #185
Thanks for the quick response. I've cycled keys and tried various combinations of replacing newlines in the private key with `\n` on they key before cycling it and after creating a new one. Even tried setting it in heroku's dashboard thinking perhaps there was some shell substitution happening or something weird. Still no luck.

Since your format in the comment above doesn't match what I see in th

[2019-11-18 16:54] theshortcut commented on #185
Got it running in heroku after I ended up pasting in their dashboard with newlines still in place, so it was definitely something funky with the way the env var was being set. Now to figure out how to translate that outside of heroku, but I should be able to get there so closing this out and appreciate the help!

[2019-11-18 16:54] #185 closed

[2019-11-18 17:07] chdsbd commented on #185
I'm glad you were able to find a solution.

For posterity, I think these commands should work to ensure the key is set correctly in the environment variables:

[code]

[2019-11-19 13:24] chdsbd commented on #174
I've been approved and have setup GitHub sponsors for Kodiak.

[2019-11-19 16:23] aaron-sf commented on #89
This likely to get some resolution then? Evaluating for an enterprise customer.

[2019-11-19 17:02] chdsbd commented on #89
I know the GitHub feature doesn't work for Kodiak squashing commits, but I can't vouch for merge or rebase configurations as I don't use those.

From the GitHub post it seems like there is nothing to be done on the bot side, so if merge or rebase don't work now I think we're out of luck for now.

If anyone finds that commit signing works for merge or rebase commits created by bots I'll remove the

[2019-11-19 21:16] alex-sf commented on #75
We are trying to accomplish autoupdating without merging. The reason we need this is because Kodiak does not support signed commits so we would like it to keep our PR branches up to date but the final squash commit needs to come from a non-bot.

I would like to take advantage of the Kodiak's smart updating to do something like the following:

* Check to see if it is ok to merge (ie tests pass, app

[2019-11-20 02:06] chdsbd commented on #75
I'm afraid Kodiak doesn't seem to support this use case.

You might be able to find a solution in the alternatives section of the [README](https://github.com/chdsbd/kodiak#prior-art--alternatives), but I'm not sure any of those will do smart updates.

I think a new configuration option could be added to Kodiak to support this behavior, but I can't commit to a timeline on adding it.

[2019-11-20 17:42] alex-sf commented on #75
@chdsbd I was looking at the code it I think I have a pretty simple solution to this https://github.com/chdsbd/kodiak/pull/187. Let me know if there is anything that needs to be added or if my logic is incorrect, since you have a much better holistic view of the entire repo.

[2019-11-20 19:16] staabm commented on #174
Just got the GO from my boss. Will configure the sponsoring tomorrow

[2019-11-20 21:53] edPratt opened #188 "Private key in source?"
Are you sure you want this in source? -> kodiak/kodiak/test/fixtures/github.voided.private-key.pem

[2019-11-20 22:08] chdsbd commented on #188
Yeah. It’s invalid so it’s okay.

[2019-11-20 22:30] #188 closed

[2019-11-22 08:46] staabm commented on #174
we just started the sponsoring for the project (complexgmbh).

it would be great if this small financial support would help to get this feature implemented in the near future.

thanks for you great work on this great project.

[2019-11-22 13:07] chdsbd commented on #174
Thanks for the support!

I’ll take a look this weekend.

[2019-11-25 17:58] lucleray opened #189 "Kodiak status doesn't appear in PRs anymore"
Since yesterday (25/11), Kodiak statuses doesn't appear anymore in our PRs. We didn't change the way it is configured. It seems to be down?

Thanks for your help!

[2019-11-25 18:10] chdsbd commented on #189
Kodiak is working for me at work, so I'm not immediately sure what the issue is. I'm going to look through Sentry and the logs to see if I can find something.

Do you have a public repository where this is an issue?

[2019-11-25 18:21] lucleray commented on #189
Thanks!

You can see it in this repo: https://github.com/zeit/docs. For example, this PR: https://github.com/zeit/docs/pull/1486.

[2019-11-25 18:50] chdsbd commented on #189
I just restarted kodiak and that seems to have resolved the issue temporarily. I'll have time this evening to figure out a more permanent solution.

---

Here's what I found before I restarted the app.

https://github.com/zeit/now/pull/3346 was that last merged PR based on kodiak's redis instance.

GitHub was sending webhook events for zeit/docs, but it seems that the events weren't reaching this

[2019-11-25 18:54] chdsbd commented on #189
The weird part is that this only affected a single installation, so I think it probably has something to do with per-installation logic like the rate limiting or per-install redis connection.

https://github.com/chdsbd/kodiak/blob/158cda89378c8f8c850d8e88e31954823cef42ba/kodiak/queue.py#L406-L408
https://github.com/chdsbd/kodiak/blob/158cda89378c8f8c850d8e88e31954823cef42ba/kodiak/queue.py#L170-L1

[2019-11-26 02:43] lucleray commented on #189
Thanks! I'll let you know if it happens again 👍

[2019-11-26 02:43] #189 closed

[2019-12-02 12:49] #163 closed

[2019-12-09 16:18] styfle commented on #189
Hi @chdsbd

This seems to be happening again for the last 6 hours or so.

The Kodiak github status check is missing in our PRs.

[2019-12-09 16:19] chdsbd commented on #189
Weird. I'll take a quick look.

[2019-12-09 16:20] chdsbd commented on #189
@styfle What's your org name that you're using kodiak with?

[2019-12-09 16:20] styfle commented on #189
Its the [ZEIT](http://github.com/zeit) org again, thanks!

[2019-12-09 16:29] chdsbd commented on #189
I've restarted the machine and kodiak seems to be receiving events for zeit again.

[2019-12-09 16:30] chdsbd commented on #189
Looks like it's working again based on this PR: https://github.com/zeit/docs/pull/1498

[2019-12-11 02:27] chdsbd commented on #75
Fixed via #187

[2019-12-11 02:27] #75 closed

[2019-12-11 03:26] KaiSzuttor commented on #104
why don't you merge the master and the pull request and push it to a staging branch in the main repo. There is no need do change the fork.

[2019-12-12 04:13] chdsbd commented on #104
@KaiSzuttor I think that solution would definitely work, but I don't believe that it would be an appropriate solution for Kodiak. For me Kodiak was built around a GitHub PR centered flow where Kodiak mainly automates the update and merging of PRs. I think having Kodiak create new branches for PRs from forks would not fit with this.

[2019-12-12 05:27] KaiSzuttor commented on #104
thanks @chdsbd for the response. That's a pity to hear since that makes your tool useless to pretty much every project on github where almost all PRs come from forks. And that is probably the majority.

How do you use your tool for PRs on the project itself?

[2019-12-12 13:11] chdsbd commented on #104
Kodiak can still merge PRs for forks, it just cannot update the branches. I mainly use Kodiak for work, so this limitation doesn’t affect me for the most part. For Kodiak itself most of the PRs are by collaborators on the repo, so we don’t hit this issue.

This limitation is definitely a blocker for using Kodiak on open source repositories, but if we want to be able to use GitHub PR features, I th

[2019-12-12 13:51] KaiSzuttor commented on #104
I just realized that there is the possibility to do exactly what we need via the v3 API (https://developer.github.com/v3/pulls/#update-a-pull-request-branch) but probably it's not allowed in github apps because of the preview state.

[2019-12-12 14:08] chdsbd commented on #104
@KaiSzuttor Thanks, that endpoint looks promising. I'll test it out as a replacement for this endpoint that we use now: https://developer.github.com/v3/repos/merging/#perform-a-merge

[2019-12-14 17:44] chdsbd commented on #104
I've tested with a GitHub app and https://developer.github.com/v3/pulls/#update-a-pull-request-branch works for updating PRs made from forks! It looks like it may be possible to implement this feature now.

I think the only changes that need to be made are removing this check against forks and refactoring the PR update logic to use the new API call.
https://github.com/chdsbd/kodiak/blob/2f7c26db75

[2019-12-16 10:00] ssengespeick opened #201 "Clarification on repository content usage / data flows"
Hi Christopher!

This is Sascha, a software developer from https://commercetools.com/.

We looked into automating our merging, decided on kodiak and - for the frontend - already use it. For the backend part, we have (and are met with) some reservations because it is not clear (not specified in the readme file) what data is actually read from the repository and if it's sent somewhere else.

While w

[2019-12-16 15:05] chdsbd commented on #201
Hi Sascha,

Only application errors are sent externally to Sentry for error tracking. These messages would only include information necessary for Kodiak's operation, like PR status check info, Kodiak config, PR labels, PR title/body info. Additionally the Sentry account is only accessible by Kodiak’s maintainers (@chdsbd @sbdchd). Pull request numbers, as well as repo and org names are stored temp

[2019-12-17 07:45] KaiSzuttor commented on #104
do you plan to implement the update? we would really be interested in that feature and be willing to support the implementation if needed.

[2019-12-17 14:25] chdsbd commented on #104
I plan to implement this and I'm hopeful I can do this in the next week or so.

[2019-12-18 12:55] MaicolBen commented on #174
Aside from this, it would be great to block some PRs from auto-updating

[2019-12-21 03:10] chdsbd commented on #104
#202 has been deployed

[2019-12-29 21:54] rgreinho opened #208 "Automerge dependabot PRs"
Is it possible to automatically merge PRs coming from dependabot?

Ideally I would like to use something like what mergify does: <https://doc.mergify.io/examples.html#dependabot>.

[2019-12-29 22:13] chdsbd commented on #208
I've seen Kodiak automatically merge PRs opened by dependabot on other projects, but I haven't used dependabot myself.

You may need to configure dependabot based on your Kodiak config.

If you're using Kodiak without requiring an automerge label (`merge.require_automerge_label = false`) then Kodiak should automatically merge dependabot PRs, assuming they pass your GitHub branch protection setting

[2019-12-29 22:27] rgreinho commented on #208
Thanks a lot for the quick answer.

It does help, but the answer does not match our workflow. We use `merge.require_automerge_label = false` but we require at least 1 review approval to merge it. Therefore the dependabot PRs are blocked until a developer approves them manually, which kind of defeats the purpose.

Basically for this use case we want to merge the PR without having to manually approv

[2019-12-29 23:41] chdsbd commented on #208
Looking at #178 a second time I think using a GitHub bot to automatically approve PRs created by certain users would be significantly easier than adding `merge.username_automerge_whitelist` to Kodiak.

The GitHub bot would approve any PR opened by a user (ex: `dependabot`) configured in some whitelist. I think Kodiak could be updated to do this, but it seems like there are already a couple GitHub

[2019-12-29 23:58] chdsbd commented on #178
Based on #208 I think the simplest solution is to use GitHub branch protection to require approving reviews for a PR to merge and then setup https://github.com/hmarr/auto-approve-action to automatically approve PRs made by certain users.

[2019-12-30 02:39] rgreinho commented on #208
It does help, thank you very much!

We did not want to explore the route of using extra bots, as we hoped kodiak would be our one size fits all solution for our merging/rebasing/approving problems.

But we are definitely going to investigate using a GitHub Action like the one you recommended (we also found [dependabot-auto-merge-action](https://github.com/ridedott/dependabot-auto-merge-action)) in

[2020-01-02 04:16] rgreinho opened #213 "Clarifications about the workflow"
We're having the problem that kodiak does not update the branches of our PRs when the base branch receives some changes:
<img width="701" alt="image" src="https://user-images.githubusercontent.com/6969134/71651423-e38b2700-2ce2-11ea-8a2b-54064c650a9a.png">

It looks like kodiak is first waiting for the approvals, then will update the branch? However, none of the team members will ever give an appr

[2020-01-02 13:44] chdsbd commented on #213
I think `merge.update_branch_immediately = true` will give you what you need. With this setting Kodiak will update a branch whenever it is out of date.

There’s some more documentation here: https://github.com/chdsbd/kodiak/blob/master/README.md#config-with-comments-and-all-options-set

When https://github.com/chdsbd/kodiak/pull/198 is finished there should be more configuration available for cont

[2020-01-02 15:31] rgreinho commented on #213
We do have the `update_branch_immediately = true` in place, but it does not do what we expect. Possibly a bug?

Bellow is our configuration file:

[code]

[2020-01-02 15:38] chdsbd commented on #213
Sorry about that, I was mistaken.  `merge.update_branch_immediately` only affects PRs that are considered "mergeable". I think https://github.com/chdsbd/kodiak/pull/198 will allow Kodiak to fit your workflow.

#198 should be fixed soon after #207 is merged.

[2020-01-02 15:54] rgreinho commented on #213
Awesome! Thank you so much!

[2020-01-06 00:48] chdsbd commented on #174
@staabm I'm finally looking to implement this feature in #198 now that #207 is merged.

Would new flags like the following work?

[code]

I think more settings could be added like the following, but they would take more time to implement, so if the flags described above work for you, let's go with them for now.

[code]

[2020-01-06 07:42] staabm commented on #174
I think this will fit our use-case

[2020-01-07 02:45] #174 closed

[2020-01-07 02:45] #213 closed

[2020-01-07 03:59] chdsbd commented on #174
#198 has been released so you should now be able to use `update.always` and `update.require_automerge_label` as described above.

[2020-01-07 04:00] chdsbd commented on #213
#198 has been released so you should now be able to use `update.always` and `update.require_automerge_label`.

example configuration

[code]

Let me know if you have any questions.

[2020-01-07 04:08] chdsbd opened #222 "handle "This branch cannot be rebased due to conflicts""
Right now Kodiak doesn't detect if a branch "cannot be rebased due to conflicts" and will attempt to call the GitHub api to merge the branch. The GitHub api returns a 405 when we try to merge using rebase because it's not possible. We should be able to detect this before attempting to merge a PR, like we do with merge conflicts.

[code]

For the user we display a relatively unhelpful status check:

[2020-01-07 04:27] chdsbd commented on #174
@MaicolBen I think you might be able to remove the automerge_label if you need to block a PR from updating. If that doesn't fit with your workflow, please feel free to open a new issue.

[2020-01-07 08:15] clxmstaab commented on #174
# update PR whenever the PR is out of date with the base branch. PR will be
# updated regardless of failing status checks, missing reviews, merge blacklist
# labels, etc. Kodiak will only update the PR if the automerge label is attached
# or `update.require_automerge_label` is false.
always = false
require_automerge_label = true

just to make sure I got it right.. I guess the example you pointed o

[2020-01-07 13:43] chdsbd commented on #174
Thanks. Your example is correct. I’ll edit the other message to be accurate.

[2020-01-07 20:18] rgreinho opened #223 "Allow a .kodiak.toml in the .github folder"
Our use case is the following:

A `.github` folder in a repository contains all the GitHub configuration files as well as the settings for some other apps (like the [stale bot](https://github.com/probot/stale) configuration for instance). Our organizations all have a `github.com/<my_organization>/.github` repository which contains the files that each new repository must use. It would be cleaner fo

[2020-01-07 20:42] chdsbd commented on #223
This should be pretty simple to add. I thought Kodiak had support for this but it seems like I never got around to adding it 😄 .

[2020-01-07 21:00] rgreinho commented on #223
Thanks! I just gave a shot at a PR (#224).

[2020-01-08 18:01] MaicolBen opened #228 "[Question] Can we configure to remove Kodiak as an author of the commit?"
Hey!

Awesome tool! I would love if when the PR is merged, only the original authors remain and kodiak isn't added, I know you can edit authors from the merge through the Github API but I don't know how easy is to remove Kodiak specifically. Another option would be go with #150 solution if it's implemented.

[2020-01-08 18:14] chdsbd commented on #228
The GitHub [API for merging a PR](https://developer.github.com/v3/pulls/#merge-a-pull-request-merge-button) doesn't support specifying authorship, so Kodiak would probably need to clone the repository and do the operations in git before pushing changes.

#150 is similarly complicated to implement because the [GitHub API doesn't support it](https://developer.github.com/v3/pulls/#update-a-pull-reque

[2020-01-08 18:30] chdsbd commented on #177
Looking at this again, I think the issue is that with `merge.delete_branch_on_merge = true`, Kodiak will delete the branch of the PR on merge. However, there could be other PRs based on the same branch, which Kodiak would incidentally destroy by deleting the shared branch.

I think we could fix this by checking if there are other PRs opened with the same head ref with a query like the following.

[2020-01-08 19:36] MaicolBen commented on #228
Thanks @chdsbd ! Feel free to close this if it's impossible. I didn't read the codebase to see if it possible, just took the idea from [autosquash](https://github.com/tibdex/autosquash/blob/master/src/autosquash.ts#L306)

[2020-01-08 20:26] chdsbd commented on #228
This is feature is doable, so I'm going to leave this issue open.

From the link it seems like autosquash has a different feature where it will extract authors from commit messages associated with a PR and add them as coauthors when merging, which I think is different from what GitHub does. It seems like squashes created by autosquash will have autosquash as an author.

[2020-01-08 20:37] MaicolBen commented on #228
Yeah, you might be right (they state otherwise) but reading the code, they don't get rid of the bot/action author.

Thank you for considering my request!

[2020-01-09 16:47] renatoruk commented on #208
Do you maybe have an alternative without actions? How complex would be to implement `merge.username_automerge_whitelist` ?

[2020-01-09 17:23] chdsbd commented on #208
I plan to have Kodiak support approving PRs that match a configured whitelist of usernames.

`approve.whitelist = ["dependabot"]`

Is that what you mean by `merge.username_automerge_whitelist`?

[2020-01-09 17:55] renatoruk commented on #208
Yep, that's exactly what I meant. Great, looking forward to it!

[2020-01-10 03:30] chdsbd commented on #89
I played around with this and it seems like squash and rebase merges fail, but a regular merge commit merge works.

Here's the API responses for the rebase merge and squash merge attempts.

rebase error

[code]

squash error

[code]

I'm going to update the logic to allow commitSignatures when `merge.method = "merge"`.

[2020-01-11 17:33] #223 closed

[2020-01-13 03:41] chdsbd commented on #222
As described in #236, it appears that #225 did not fix this issue. It seems that `canBeRebased` is returning false when a PR is first opened. As a workaround we may be able to do a retry if canBeRebased is false, but I'm worried about glitchy behavior.

Also, the GitHub v3 api has a property called `rebaseable`, that is null, false, and true, which may allow us to work around `canBeRebased` shortc

[2020-01-13 03:43] chdsbd commented on #177
I was not able to fix this in #232 and had to revert that change with #237.

It seems that there isn't a simple way through the GitHub api to see PRs that depend on a ref, so I'm not sure how to fix this at the moment.

[2020-01-14 09:14] clxmstaab commented on #174
we are using the new config for a few days and observe the following issues

kodiak does only auto-update a PR/branch when e.g. new commits are added to the PR or the PR description/title changed etc.

kodiak does not update a PR when a new commit lands in the target-branch.

Is this the expected behaviour?

[2020-01-14 13:42] chdsbd commented on #174
That’s not intended. Can you post your Kodiak config?

My suspicion is that when the target branch updates, GitHub isn’t sending a webhook event for the open PRs. I probably need to configure GitHub to send webhook events for pushes.

I’ll take a look at this tonight.

[2020-01-14 14:38] staabm commented on #174
our latest config:
[code]

[2020-01-14 15:28] rgreinho commented on #174
We are seeing the same behavior.

Here is our configuration file:

[code]

[2020-01-15 00:54] chdsbd opened #244 "updates to master don't trigger updates on dependent PRs"
When new commits are added to the target branch, the open PRs against that branch are not updated, even though `update.always` is configured.
report: https://github.com/chdsbd/kodiak/issues/174#issuecomment-574077658

I tried to reproduce this and I found that when CircleCI is configured, new commits on the target branch trigger a `status` webhook event for that branch, which triggers Kodiak to en

[2020-01-15 00:56] chdsbd commented on #174
I've opened a new issue to track this: https://github.com/chdsbd/kodiak/issues/244

[2020-01-15 07:21] staabm commented on #244
Not sure if related. We dont use CircleCI but GithubActions and TravisCI

[2020-01-15 11:52] chdsbd commented on #244
Thanks, that’s helpful. I think those integrations use CheckRuns instead of Statuses, so Kodiak isn’t receiving any status events.

I think accepting push events should fix the issue.

[2020-01-17 10:52] clxmstaab opened #249 "Report a reason into a Pull Request when kodiak closes it"
Feature Request:

'sometimes' we see kodiak closing pull requests... we dont know why.. would be great kodiak would report a comment to tell us why it made this decision.

Maybe-Repro:

I guess it happens in the following situation.

follow branch structure
[code]

it seems kodiak is closing branch (3) when branch (2) gets merged (via kodiak automerge-label).

[2020-01-17 11:46] chdsbd commented on #249
I think this should be fixed in https://github.com/chdsbd/kodiak/pull/242

[2020-01-18 04:09] #177 closed

[2020-01-18 15:05] #244 closed

[2020-01-19 17:48] chdsbd commented on #249
This was fixed with #242, which was deployed in [v0.15.0](https://github.com/chdsbd/kodiak/releases/tag/v0.15.0).

[2020-01-19 17:48] #249 closed

[2020-01-20 03:08] chdsbd commented on #104
I'm very upset with GitHub at the moment.

It appears that GitHub has changed the [`/update-branch`](https://developer.github.com/v3/pulls/#update-a-pull-request-branch) API to no longer work with forks.

When Kodiak (or any GitHub app) attempts to call `/update-branch` on a PR created from a fork, the GitHub API returns a `422` status code with the body, `{"message":"user doesn't have permission

[2020-01-20 09:26] KaiSzuttor commented on #104
i just tried locally with ```curl``` and it seemed to work. Are you sure that is was not only temporary?

[2020-01-20 13:07] chdsbd commented on #104
@KaiSzuttor Sorry, I should have specified that this change only affects GitHub Apps.

Here’s a repo where I reproduced the error: https://github.com/chdsbd/test_github/pull/1

[2020-01-20 13:51] KaiSzuttor commented on #104
That's really annoying. I contacted the github support and asked exactly about whether the beta api is enabled for github apps. The answer has been 'yes' 4 weeks ago :angry:

[2020-01-20 14:28] chdsbd commented on #104
GitHub Apps can still use the API update normal PRs, but updating PRs that depend on a fork's branch now returns an error.

As of #202's release, GitHub Apps were able to update all PRs, including ones dependent on forks. So GitHub must have change the API recently to prevent this. ☹️

[2020-01-20 15:25] KaiSzuttor commented on #104
https://github.com/espressomd/espresso/pull/3419 it still seems to work on our repository

[2020-01-20 15:56] chdsbd commented on #104
@KaiSzuttor thanks for the link.

It appears that `/update-branch` does not work on a pull request from a fork if ["allow edits from maintainers"](https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/allowing-changes-to-a-pull-request-branch-created-from-a-fork#enabling-repository-maintainer-permissions-on-existing-pull-requests) is unchecked, which isn't surprising.

My p

[2020-01-20 15:56] #104 closed

[2020-01-20 16:20] chdsbd opened #257 "kodiak cannot update PRs made between self-owned organizations"
Given a user "bob" with repository "bob/cake-api" who is a member of "acme-corp", if "bob" forks "bob/cake-api" to "acme-corp/cake-api", makes a commit to "acme-corp/cake-api" and opens a PR against "bob/cake-api" with his new changes, "bob" will not have the option to select "Allow edits from maintainers". This means Kodiak will not be able to update the PR and "bob" will not be able to allow Kod

[2020-01-20 16:35] chdsbd commented on #89
I'm closing this because Kodiak now supports commit signatures for merge commits. Rebase and squash merge methods are not allowed with commit signatures for Kodiak because they don't work with the GitHub API, by the nature of them rewriting history.

[2020-01-20 16:35] #89 closed

[2020-01-25 10:51] staabm opened #261 "Kodiak does not update a PR"
From time to time we experience that kodiak does not update a PR even, if new commits are made in the target branch

E.g. https://github.com/redaxo/redaxo/pull/3210#issuecomment-578396073

Our config
[code]

[2020-01-25 17:37] chdsbd commented on #261
Thanks for the link, I've checked Sentry and it seems like there are some problems in parsing the webhook payloads for the repository. I've usually ignored the parsing errors but it seems like I was wrong to do so.

I think what happens for your case is that a GitHub webhook event is sent to Kodiak, which Kodiak fails to parse because Kodiak's event schema is incorrect, so Kodiak doesn't evaluate

[2020-01-26 01:49] chdsbd commented on #261
I've released #262 which should resolve this issue.

Let me know if you run into any more trouble.

[2020-01-26 18:19] chdsbd commented on #208
This feature has been released as of #268.

An example can be found here: https://kodiakhq.com/docs/recipes#automated-dependency-updates-with-dependabot

The configuration reference can be found here: https://kodiakhq.com/docs/config-reference#approveauto_approve_usernames

[2020-01-26 18:19] #208 closed

[2020-01-26 18:20] chdsbd commented on #178
This feature has been released as of #268.

An example can be found here: https://kodiakhq.com/docs/recipes#automated-dependency-updates-with-dependabot

The configuration reference can be found here: https://kodiakhq.com/docs/config-reference#approveauto_approve_usernames

[2020-01-26 18:20] #178 closed

[2020-01-26 20:10] chdsbd commented on #201
I've added some more privacy information in the docs: https://kodiakhq.com/docs/permissions

I'm going to close this issue, but let me know if you have any questions or concerns.

[2020-01-26 20:10] #201 closed

[2020-01-29 08:54] ssengespeick commented on #201
Sorry for getting back to you so late.
Thanks a lot for the provided details, it helps us going forward!

[2020-01-31 02:39] chdsbd commented on #228
I think this issue may have been solved.

It now seems that for the "squash" merge method, Kodiak is no longer an author or committer. So Kodiak no longer appears in the UI or in the commit log.

I've attached an image and console log to show the change. I think GitHub must have rolled this out in the past few days.

![image](https://user-images.githubusercontent.com/1929960/73507947-87cac100-43a8

[2020-01-31 02:41] chdsbd commented on #164
This only applies to the "squash" merge method, but when Kodiak merges a PR, Kodiak is not set as the author or committer, so it should no longer appear in the UI. https://github.com/chdsbd/kodiak/issues/228

[2020-01-31 02:43] staabm commented on #164
Right. The issue is resolved. Thx

[2020-01-31 02:43] #164 closed

[2020-01-31 11:24] clxmstaab opened #276 "leave a comment when PR contains conflicts"
we have some long running PRs which kodiak permantly rebases to stay up 2 date with the target branch.

sometimes those PR get stuck because the PR gets into a conflict state.
we dont notice it though that the PR no longer updates because of conflicts.

it would be great if kodiak could leave a comments within the PR so people working on it are aware that the PR cannot be updated automatically any

[2020-01-31 11:53] chdsbd commented on #276
Do you know if you’re encountering a normal merge conflict or a rebase merge conflict?
There’s [logic to notify about normal conflicts](https://kodiakhq.com/docs/config-reference#mergenotify_on_conflict) but not rebase ones.

Also, when these PRs don’t update is there an error status message from Kodiak?

This may be related: https://github.com/chdsbd/kodiak/issues/222

[2020-01-31 13:08] clxmstaab commented on #276
how to differentiate a "merge conflict" from a "rebase merge conflict"?

I guess it might be the "rebase merge conflict" case, because its related to a PR which is blocked by a "WIP:" title

[2020-01-31 14:15] chdsbd commented on #276
I think I figured out the issue and this isn't related to rebase conflicts as I first thought.

If you're using `update.always`, you won't get notified about merge conflicts that occur when updating because Kodiak returns before it hits that logic:

https://github.com/chdsbd/kodiak/blob/9d98de1d694d21053abd6af81792cc6f04aa622a/kodiak/evaluation.py#L300-L311

https://github.com/chdsbd/kodiak/blob/9

[2020-01-31 14:53] MaicolBen commented on #228
Yes! Awesome!!

[2020-01-31 14:53] #228 closed

[2020-01-31 19:40] staabm commented on #276
So we need a new option notify_on_conflict that will notify whenever there is a conflict and deprecate merge.notify_on_conflict.

Sounds reasonable

[2020-02-01 14:57] gharlan opened #277 "merge.message.body: Only Co-Authors"
When using "squash and merge" manually, github suggests a commit body containing the list of commits and the Co-Authors.

I don't want to get the commit list, but I would like to have the Co-Authors.
So I would like to have another option for `merge.message.body` like `co_authors`.
(But I don't know, if it is possible to implement this..)

[2020-02-01 15:36] chdsbd commented on #277
I think this requires parsing the `Co-Authored-By` lines from the commit messages of a PR.

`Co-Authored-By: Jane Doe <jane.doe@users.noreply.github.com>`

This is possible. I think there could be an edge case where a PR has a lot of commits and Kodiak would probably not be able to quickly fetch all of those from the GitHub API, but I think it's okay if we ignore that.

For the implementation I th

[2020-02-01 15:42] gharlan commented on #277
.. and collecting the authors from commits not authored by the pr author.

[2020-02-03 08:24] clxmstaab commented on #276
will the new option default to "true"? I feel like having this notifactions as an opt-out would be better then to not know them and forget to opt-in?

[2020-02-03 12:47] chdsbd commented on #276
I agree that the default should be true. I think to preserve existing behavior, if `merge.notify_on_conflict` is false, `notify_on_conflict` should be disabled unless explicitly enabled.

[2020-02-11 13:42] CaioFML commented on #208
@chdsbd Guys, this doc needs to be fix. The username correct is `dependabot-preview` and not `dependabot-preview[bot]`, because of this I lost all the morning trying to figure out why this new feature isn't working and by intuition I tried to delete `[bot]` and all my PR turns approve! :wink:

[2020-02-11 13:50] chdsbd commented on #208
@CaioFML sorry about that. I’ll fix it as soon as possible. Thanks for bringing this to my attention.

[2020-02-11 14:25] chdsbd commented on #208
Docs should be fixed as of #288. Thanks again for reporting this issue.

[2020-02-12 15:30] clxmstaab commented on #261
we are still seeing some PRs not getting updated.

in a private repo, the PR https://github.com/complex-gmbh/kunzmann/pull/656

![image](https://user-images.githubusercontent.com/47448731/74349702-e6366d00-4db4-11ea-9cc4-6fe345fad962.png)

as you can see on the enabled "Update Branch" there are changes in the target-branch which are not yet merged.. but kodiak does not merge them

[2020-02-12 15:33] chdsbd commented on #261
@clxmstaab can you post your configuration file?

[2020-02-12 16:00] chdsbd commented on #261
@clxmstaab If you change the PR (modifying the title, changing labels), does the PR get updated? I'm wondering if this is the same issue where certain events are being handled fully.

[2020-02-12 16:21] clxmstaab commented on #261
[code]

jep, changing labels did trigger the bot

[2020-02-12 16:22] chdsbd commented on #261
@clxmstaab Thank you for that last bit of info!

[2020-02-13 03:05] chdsbd commented on #261
I haven't been able to reproduce this and I'm not sure what is happening. I'm going to try to improve the logging to better associate events with installations.

Let me know if you're able to reproduce this.

[2020-02-13 08:31] clxmstaab commented on #261
anything special I need to focus on?

[2020-02-13 11:56] chdsbd commented on #261
@clxmstaab if you’re able to reliably reproduce this issue or find it occurring regularly, that would be great to know. If it’s not too much trouble please update this thread when you see this happening again.

[2020-02-19 08:29] tobilen opened #295 "problem contacting GitHub API with method 'merge'"
we started seeing this error yesterday. no more information than that:
![image](https://user-images.githubusercontent.com/8217788/74815853-491a8d80-52fa-11ea-8aa9-44cf17a97745.png)

our kodiak config:
[code]

[2020-02-19 11:52] chdsbd commented on #295
Thanks for reporting this. Does this happen on all pull requests? Also, do you know if the PR had a rebase conflict, because that isn’t handled at the moment.

I’m going to look through the logs and see what happened.

[2020-02-19 12:14] chdsbd commented on #295
Looking at the logs it seems this is the same issue as https://github.com/chdsbd/kodiak/issues/222.

[code]

#222 is a bit challenging to fix do to some weirdness in the GitHub API, so I think it might be easier to improve the GitHub status message to include the API response from GitHub.

Does this issue happen frequently for you?

Thanks again for raising this issue.

[2020-02-19 12:22] tobilen commented on #295
not very frequently, no. we have around a dozen PRs in a given 24hr cycle, and it has happened on 3 in the last two days.

[2020-03-04 20:29] chdsbd opened #300 "When using the "squash" merge.method, Kodiak is the only Author of commits"
![image](https://user-images.githubusercontent.com/1929960/75919895-5e300a00-5e2c-11ea-96dd-e3502d2e4ba5.png)

[code]

Pull requests merged by Kodiak lose their authorship information. I would expect that the author of the PR would be the author of the merged commit.

This issue likely affects rebase and squash merge methods. I think merge commits should be okay.

It seems GitHub has made a change

[2020-03-05 03:52] cristiadu commented on #300
@chdsbd Hey! Sorry to bother you here, but I'm also having this issue on which seems to be a Github change (it affects the whole platform). Can you share the Github issue you created?

[2020-03-05 04:01] chdsbd commented on #300
@cristiadu No worries, that's what this issue is for!

Here's a copy of my correspondence with GitHub Support:

---

I added a [new configuration option](https://kodiakhq.com/docs/config-reference#mergemessageinclude_pull_request_author) this evening to append the GitHub author to pull requests via https://github.com/chdsbd/kodiak/pull/301.

This provides a slight improvement, but we're still left

[2020-03-05 04:15] chdsbd commented on #300
@cristiadu Wow, I didn't realize how huge this issue was. I thought it was just affecting GitHub Apps and the GitHub API but it seems to affect _all_ squash merging 😱 .

[2020-03-05 04:22] cristiadu commented on #300
yeah, when using manual triggering of Squash and Merge that is also happening. So even in the UI haha.

Thank you for the report though, I was looking like crazy if someone else saw similar behavior.

[2020-03-05 17:48] chdsbd commented on #300
Apparently GitHub is reverting the change, so hopefully the behavior we all love will return soon.

https://github.community/t5/How-to-use-Git-and-GitHub/Authorship-of-merge-commits-made-by-Github-Apps-changed/m-p/48960#M10715

[2020-03-09 03:06] #300 closed

[2020-03-09 14:21] clxmstaab opened #314 "Sponsor Logo"
hey!

would you be open for adding our company logo with a link to the projects readme, since we sponsoring your work on the bot?

[2020-03-09 14:22] chdsbd commented on #314
sounds fair

[2020-03-09 14:25] staabm commented on #314
I will open a PR

[2020-03-09 14:26] clxmstaab commented on #314
I will open a PR

[2020-03-09 14:26] #314 closed

[2020-03-17 15:04] dpraul commented on #261
I just installed kodiak for the first time in [our private repo](https://github.com/fintechstudios/website) and am seeing this as well. Config:
[code]

![image](https://user-images.githubusercontent.com/931325/76869577-ece65300-683e-11ea-9a59-691295787660.png)

[2020-03-17 15:48] chdsbd commented on #261
@dpraul Thanks for the report. I can't look into this in detail until later, but as a workaround you can generally edit the PR (change the title, add/remove a label) and Kodiak will receive a new webhook event from GitHub and will reexamine the PR.

[2020-03-17 15:54] dpraul commented on #261
Yep I observed that as a workaround, just wanted to throw in another example of this happening. It has happened on two separate PRs at this point, although one of them seems to have woken up as of about 10 minutes ago.

I'll try to pay close attention to what behavior tends to trigger this.

[2020-03-17 20:44] dpraul opened #323 "Restrict merges to during working hours"
Hi! Great bot - hoping to integrate it further as we play around with it more.

Dependabot has an excellent setting where auto-merging can be restricted to only occur during working hours, like so:
![image](https://user-images.githubusercontent.com/931325/76899651-5c276b80-686e-11ea-9f3b-de7a4a7d1337.png)

Would love to see a feature like this here!

[2020-03-17 23:16] chdsbd commented on #323
That's a cool idea. I don't think it would be too difficult to add, but I'm unsure of how to express this in `.kodiak.toml`.

These are a few ideas I came up with:

verbose
[code]

inline
[code]

minimalist
[code]

I'm curious if you have any other suggestions.

[2020-03-17 23:33] sbdchd commented on #323
Also need a timezone setting of some sort

[2020-03-18 14:24] dpraul commented on #323
I imagine it should also account for:
1. days where there should be no merging
2. people who want the schedule to be the same for all days

Inline is easiest to read but I think it makes it hard to account for (2)

[2020-03-18 22:10] chdsbd commented on #323
Maybe something like this where we have some global settings and allow individual days to be overridden.

[code]

[2020-03-19 12:42] dpraul commented on #323
that makes sense to me!

[2020-03-27 19:39] Negan1911 opened #326 "Disable Auto Update."
There's a way to disable auto-update of branch?, since I use Kodiak to auto-merge PR's from dependabot, most of the times everything works well.

But when kodiak updates a Dependabot PR it makes Dependabot not being able to self-update his PR's, or, on cases where the PR is superseeded, not close the updated-pr.

I would love to be able to use Kodiak for auto-merge PR's, but leverage Dependabot fo

[2020-03-27 20:26] chdsbd commented on #326
Thanks for raising this issue. I think a new config option could be added to make this work.

[code]

[2020-03-27 20:37] Negan1911 commented on #326
That would be awesome!

[2020-03-30 00:21] Negan1911 commented on #326
This has been fixed by #327 .

[2020-03-30 00:21] #326 closed

[2020-03-30 02:50] chdsbd commented on #261
I was testing a new release of Kodiak and I encountered this issue. Looking at the logs it seems like GitHub was reporting the [`mergeStateStatus`](https://developer.github.com/v4/enum/mergestatestatus/) as `UNKNOWN`. So I think we probably need to have Kodiak retry after a short period of time to allow GitHub to calculate mergeability.

[2020-03-31 21:17] JohannesRudolph commented on #295
I had a similar issue today. We had branch protection configured to `Require linear history` and had kodiak [mergemethod](https://kodiakhq.com/docs/config-reference#mergemethod) still on `merge`. This resulted in the same GitHub API error mentioned here. I was able to figure out I forgot to configure `rebase` as the mergemethod, then it worked just fine.

It would be great if kodiak could return a

[2020-03-31 21:25] chdsbd commented on #295
I'll take a look at improving the error message soon.

Regarding forcing Kodiak to refresh the PR status, you should be able to do that by modifying the PR (editing the title or body, adding/removing a label, creating a comment, pushing a commit).

[2020-04-04 06:05] JohannesRudolph commented on #150
So if I get this right this means that kodiak right now doesn’t support a „fast forwards only“ workflow? What I mean by that is that PRs are updated by kodiak to be always strictly ahead of their base branch by rebasing (linear history).  Merging a PR must only be a fast forward.

This is critical to our workflow as we rely on git commit ids for avoiding unnecessary rebuilds of our CI pipeline. Wi

[2020-04-14 05:47] tobilen commented on #295
just saw your edit, its the `ivx` org. issue hasn't occurred anymore as far as i know. we did switch away from rebase back to merge, so maybe thats related?

[2020-04-14 12:25] chdsbd commented on #295
@tobilen yeah, I think this issue occurs with rebase.

[2020-04-16 12:43] clxmstaab commented on #314
just published a blog post mentioning both of you guys and the project

https://www.complex-it.de/complex-unterstuetzt-open-source-maintainer/

Thanks!

[2020-04-16 12:50] chdsbd commented on #314
Thank you 😊

[2020-04-17 11:18] tobilen opened #338 "kodiak is not closing issues through keyword usage"
possibly a duplicate of https://github.com/chdsbd/kodiak/issues/122

We've been using kodiak for a couple of months without problems up until a couple of days ago, when issue closing within our org stopped working. Merging still works fine, but the automation does not trigger.

Key facts that might be important:
- Issue and PR are in different repositories
- Issue is linked in multiple projects
-

[2020-04-17 12:33] chdsbd commented on #338
Hi @tobilen,

Thanks for opening this issue. I think I may have just reproduced this.

It seems that only cross-repository issue closing is affected. If I try to close a cross-repository issue, the GitHub UI looks like it will work, but when the PR is merged, nothing happens.

If `closes https://github.com/chdsbd/other_repo_test/issues/1` ends up in the merge commit body, GitHub will close the rel

[2020-04-17 13:31] tobilen commented on #338
Thanks so much for the quick and well researched answer. Seems like you've pinpointed the issue.

I'll try writing in the merge commit, but this is probably not something that can be easily disseminated  in a bigger group of developers who also work on other repositories.
If you can provide me with a link to the issue you're planing on opening, you can feel free to close this one.

We tried mergin

[2020-04-17 13:41] chdsbd commented on #338
Kodiak can use the PR body as the merge commit message via [`merge.message.body`](https://kodiakhq.com/docs/config-reference#mergemessagebody). This way when you write `closes https://github.com/chdsbd/other_repo_test/issues/1` in the PR body Kodiak will add it to the merge commit message.

I submitted a support request with GitHub, but there isn't a way to link to that so I'll post any replies I

[2020-04-17 14:57] tobilen commented on #338
i've tried that, but it seems the automation is not working like you described. this is my merge commit:
![image](https://user-images.githubusercontent.com/8217788/79582604-48209500-80cc-11ea-8e85-acbb5632800f.png)

it's an empty PR (as you can see by the changes), but i don't think that makes a difference.

[2020-04-17 15:50] chdsbd commented on #338
Okay, this is pretty weird. It seems like it only works with "squash" (maybe rebase two, haven't tested). Using "merge" doesn't work.

GitHub also renders the commit messages differently for some reason.

"squash" merge method
<img width="952" alt="image" src="https://user-images.githubusercontent.com/1929960/79588118-763caf80-80a1-11ea-8fd4-32cb41594387.png">
"merge" merge method
<img width="952"

[2020-04-17 15:55] tobilen commented on #338
the difference in how the issue links are presented might stem from copypasting the PR body. This happened to me as well.

But yes, this seems dependent on merge method. You also have the dotted line under the `closes` in the squash PR

[2020-04-17 16:32] chdsbd commented on #338
I think there is a second bug where GitHub is not rendering the `closes https://github.com/chdsbd/other_repo_test/issues/2` correctly when the merge commit is created via the GitHub API. If I merge the PR and specify the commit message through the UI, GitHub will render the merge commit with the dotted line under the `close`.

I'm going to make another ticket with GitHub support.

[2020-04-20 15:58] TomasVotruba opened #341 "How to configure Kodiak wait for Github Actions to pass before merge?"
This is my config: https://github.com/symplify/symplify/blob/master/.kodiak.toml

I have this pull-request: https://github.com/symplify/symplify/pull/1857

And the pull-request branch is protected:

![image](https://user-images.githubusercontent.com/924196/79772348-46efa200-8330-11ea-828d-a737b77114a5.png)

Yet the PR get merged **before** the CI passes, right after I add the label `autormerge`.

[2020-04-20 17:07] chdsbd commented on #341
Hi @TomasVotruba,

GitHub branch protection will block Kodiak from merging a PR until required status checks pass, so I think this is probably a misconfiguration of the branch protection settings.

Does your branch protection target the correct branch?

Mine looks like the following:
<img width="752" alt="image" src="https://user-images.githubusercontent.com/1929960/79778386-a769e980-8306-11ea-987

[2020-04-20 18:47] TomasVotruba commented on #341
Ah, I thought it should target the pull-request **from** branch. Not the target one... I'll try :+1:  thanks

[2020-04-23 23:00] TomasVotruba commented on #341
Works great now, thanks!

[2020-04-24 00:16] chdsbd commented on #341
Great to hear. Thanks for the sponsorship as well. 😊

[2020-04-24 00:16] #341 closed

[2020-05-02 21:08] chdsbd commented on #338
still waiting on a response from GitHub Support.

[2020-05-05 00:32] chdsbd commented on #323
Would your expectation be that if a PR was opened outside of the merge window, it would be merge upon the next opening?

I guess that would require a bit more work than simply ignoring a PR outside of the window because Kodiak would need to track PRs opened outside the window and trigger evaluation once the new time period comes around. Anyway, I think I know how to do it.

[2020-05-05 13:34] sanmai-NL opened #360 "Does not handle renamed jobs"
After renaming a GitHub Actions job, Kodiak waits for a status report of the job with the orginal name and the new name. In the following screenshot, 'build' is the old name and 'qa_controls' the new name.

![image](https://user-images.githubusercontent.com/3374183/81071936-b3000780-8ee5-11ea-9d61-1a2acb384c06.png)

[2020-05-05 13:39] dpraul commented on #323
Yes, I think I would expect it to keep track and start merging again once the next merge window opens.

And yes, still interested in seeing this - it would make kodiak more compelling for us

[2020-05-05 13:52] chdsbd commented on #360
I think you need to update the GitHub Branch Protection setting to not make `build` required.

You would uncheck the status check called "build" that says `Required` next to it.

<img width="768" alt="Screen Shot 2020-05-05 at 9 48 16 AM" src="https://user-images.githubusercontent.com/1929960/81073473-afed2300-8eb5-11ea-9c57-3ff0971c4134.png">

Here's some relevant docs from GitHub: https://help.g

[2020-05-05 14:35] sanmai-NL commented on #360
Oh, so this is a GitHub issue? Then it's not a bug. It's a bit troublesome though.

[2020-05-05 14:35] #360 closed

[2020-05-05 14:38] sanmai-NL opened #361 "Hide merge button on GitHub"
I can still see a merge button unde PRs, even though Kodiak is active. Is there a way to force exclusive push access by the bot to the default branch? And in addition, to hide this button?

[2020-05-05 18:40] sanmai-NL opened #362 "Support Draft PRs in addition to PRs with WIP-like titles"
[Draft](https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/changing-the-stage-of-a-pull-request) PRs are a formal way of saying a PR is not ready for merging and/or review. I like that this is a UI feature. For less experienced programmers, crafting a title to match the WIP-regex is harder to learn and remember.

[2020-05-05 19:28] staabm commented on #276
Today we had another case where a PR got stale because of merge conflicts and nobody noticed it

[2020-05-05 22:29] sbdchd commented on #361
Currently there isn't anyway to ensure that only kodiak merges PRs. I think its something we could add via branch protection and a status check that only kodiak can set, but it's a bit of work.

For hiding the button Shopify has a browser extension they outline in https://engineering.shopify.com/blogs/engineering/introducing-the-merge-queue that hides the merge button to better integrate with thei

[2020-05-05 22:43] chdsbd commented on #362
Kodiak supports draft PRs. If a PR is a draft state Kodiak will not be able to merge it. Here's an example of what it looks like.
<img width="642" alt="Screen Shot 2020-05-05 at 6 42 41 PM" src="https://user-images.githubusercontent.com/1929960/81123070-40505580-8f00-11ea-9907-e4ca018eed71.png">

[2020-05-05 22:48] chdsbd commented on #276
Okay, I'm going to prioritize adding this feature. It will probably be added by next week.

[2020-05-06 02:57] chdsbd commented on #276
Kodiak needs to track if it has already left a comment to prevent it from adding a duplicate.

With `merge.notify_on_conflict`, when Kodiak encounters a conflict it checks that there is an automerge label set, removes it and leaves a comment.

I think a simple solution is to a similar thing here. Kodiak would set some (configurable) label `kodiak:merge-conflict` to mark the PR as in conflict.
On c

[2020-05-06 06:19] staabm commented on #276
Sounds good to me

[2020-05-06 07:47] sanmai-NL commented on #362
@chdsbd: that's great. Is this documented though? I only found https://kodiakhq.com/docs/config-reference#mergeblacklist_title_regex.

[2020-05-06 07:49] sanmai-NL commented on #361
@sbdchd, great. I'm first going to look into those options.

[2020-05-06 10:22] sanmai-NL commented on #361
@sbdchd:
Would it be possible to add @kodiakhq as code owner and require its 'review'?

[2020-05-06 10:50] JohannesRudolph commented on #150
I’m retracting my feature request for this. It looks like we found a way to have our build pipeline do caching based on git trees instead of git commits. These can stay stable even during merges, rebase or squashes (in the way we care about anyway). That means we can use a merge based flow rather than a rebase and fast forward flow.

[2020-05-06 16:20] robertcoopercode commented on #150
I'd still like to see this feature implemented. On a current project, we require PRs to be up-to-date with master and so we use [this rebase action](https://github.com/cirrus-actions/rebase) in combination with the Kodiak "automerge" label, but the results are not always reliable (e.g. the rebase action or Kodiak doesn't always get triggered to run).

[2020-05-06 16:29] JohannesRudolph commented on #150
Just to be clear. I still think it’s a great idea, just want to mention that my team very likely will no longer depend on rebase to be supported by kodiak before we can incorporate kodiak into our development process... Just want to help maintainers set priorities. Great to hear from others that want to see still see this though @robertcoopercode 👍

[2020-05-06 23:05] chdsbd commented on #338
GitHub responded! I've pasted the responses below for posterity and will update this ticket when I hear more.

### cross-repository `closes` keyword not working

### incorrect commit rendering through GitHub API

[2020-05-06 23:21] tobilen commented on #338
thanks for sharing those 👍

[2020-05-07 00:14] chdsbd commented on #362
Good point, I'll look at better documenting this behavior.

[2020-05-07 00:18] chdsbd commented on #361
@sanmai-NL I think that could probably work, the caveat is that Kodiak doesn't have great support for code owners (#96).

[2020-05-08 00:21] chdsbd commented on #276
@staabm Can you clarify what you mean about configuring the automerge label?

Also, I've added a PR to fix this issue in #364.

[2020-05-08 05:29] staabm commented on #276
We already have a automerge label configured.

If We configure the same label for the conflict state, would it work that the bot will remove the automerge lAbel, our dev will resolve the conflict and add the automerge-label again (so we dont need 2 separate labels) ?

[2020-05-08 05:38] staabm commented on #276
Hmm while reading the newly added PR I got the impression that the alread available `merge.notify_on_conflict` could be what I need.. seems this is also a optin-feature..?

Need to test it..

[2020-05-08 12:51] chdsbd commented on #276
@staabm For the PRs that you keep up to date with Kodiak, do you use the automerge label? I was under the impression you didn't want the branch to be merged.

[2020-05-08 12:59] staabm commented on #276
We use the automerge label and the WIP PR Title Prefix

[2020-05-08 13:18] chdsbd commented on #276
I think a simple solution may be to move this logic up above the `WIP` check.
https://github.com/chdsbd/kodiak/blob/7032785288915dac7c09ce1bed8ab31eee5c7832/bot/kodiak/evaluation.py#L434-L449

I think the benefit of #364 is that it would work for those that don't use automerge labels.

[2020-05-10 16:46] #276 closed

[2020-05-10 16:49] chdsbd commented on #276
I'll update this PR when #371 is deployed.

[2020-05-10 21:52] #362 closed

[2020-05-10 23:00] chdsbd commented on #276
This change has been deployed.

[2020-05-11 22:20] MaicolBen opened #376 "[Self-hosted] Error when pulling docker image"
When I do `docker pull cdignam/kodiak`

It throws  `Error response from daemon: manifest for cdignam/kodiak:latest not found: manifest unknown: manifest unknown`

[2020-05-11 22:29] sbdchd commented on #376
The build process for the docker containers tags them with the Git SHA. It doesn't use the `latest` tag since the deployments work off of discrete versions.

So it should work if you specific the Git SHA of the version you want to run as the tag.

https://hub.docker.com/r/cdignam/kodiak/tags

[2020-05-12 23:35] chdsbd commented on #361
I haven't looked into this too much, but I think you might be able to use this branch protection setting depending on how your organization permissions are setup. You'd need to allow Kodiak to merge pull requests.

<img width="593" alt="image" src="https://user-images.githubusercontent.com/1929960/81755769-aa7c7380-9487-11ea-9a8f-cc9104fd7ec3.png">

[2020-05-13 08:53] sanmai-NL commented on #361
That's what I use now.

![image](https://user-images.githubusercontent.com/3374183/81792127-ee16c200-9507-11ea-8654-de7a17bd66bf.png)

I think the merge button is still visible for admins though.

[2020-05-13 15:59] MaicolBen commented on #376
Yeah, that worked! thank you

[2020-05-13 15:59] #376 closed

[2020-05-16 15:02] sanmai-NL opened #384 "Complement automerge label with not_automerge label"
**Problem**
Adding labels to each PR is a chore, but on the other hand, setting `merge.require_automerge_label` to `true` gives more control over when Kodiak comes into play.

**Solution**
In addition to `merge.require_automerge_label`, provide `merge.require_not_automerge_label`. When true, Kodiak doesn't merge a PR when it has the label set in `merge.not_automerge_label`.

[2020-05-16 15:05] chdsbd commented on #384
Could you use `merge.require_automerge_label = false` with [`merge.blacklist_labels`](https://kodiakhq.com/docs/config-reference#mergeblacklist_labels)? Also, [`merge.blacklist_title_regex`](https://kodiakhq.com/docs/config-reference#mergeblacklist_title_regex) might be useful too.

[2020-05-16 15:11] sanmai-NL commented on #384
Ahh, obviously yes. I've read the config page multiple times but perhaps the 'blacklist' name distracted here.

[2020-05-16 15:11] #384 closed

[2020-05-16 18:52] gnarea opened #387 "Use whatever PR merge method is allowed on repo if there's only one"
First of all, thanks for building kodiak and making it available!

I configure all my repos to only allow squash merges and I wish I could just use the minimal config file with just `version = 1`, and kodiak detected that it should use squash commits.

However, it currently fails because the merge method is the default.

[2020-05-16 19:11] chdsbd commented on #387
Great idea. This should be any easy change.

[2020-05-17 19:57] chdsbd commented on #261
I've released #380 which should hopefully help with this issue. I'll reopen if I get more reports.

[2020-05-18 08:33] kocoten1992 opened #396 "[Question] is it possible to use kodiak on non-protected branch"
Hi @chdsbd,

Is it possible to use kodiak on non-protected branch, I couldn't find it on docs, for example, on `.kodiak.yml`

[code]

[2020-05-18 13:28] chdsbd commented on #396
It's not super well documented but Kodiak intentionally requires branch protection (https://kodiakhq.com/docs/troubleshooting#branch-protection-requirement).

It would be helpful if you could give an example use case for Kodiak working without branch protection.

[2020-05-18 14:00] kocoten1992 commented on #396
It's kinda cheap of me, so me and my friends are well known each others, we would never force push `master` branch.

And I though that could have save a few bucks doing that without paying github pro (private repo branch protection required at least github pro).

[2020-05-19 00:08] chdsbd commented on #396
Most of Kodiak's behavior is configured using branch protection settings. Without branch protection Kodiak would not update branches or wait for status checks to merge branches. I'm not sure how useful Kodiak would be for you in this setup.

As a workaround to get branch protection, I think if one of you subscribes to GitHub Pro ($4/mo) you could collaborate on that users private repositories, whi

[2020-05-19 00:16] kocoten1992 commented on #396
Thank you, I guess that the way to go then :+1:

[2020-05-19 00:16] #396 closed

[2020-05-19 12:53] styfle opened #397 "It's unsafe to retry merge when GitHub's pull request merge API returns a 500 error"
Kodiak has merged the same PR multiple times. It wasn't until I manually clicked the merge button that it stopped.

https://github.com/zeit/now/commits/master

https://github.com/zeit/now/pull/4412

![image](https://user-images.githubusercontent.com/229881/82328548-0c6c3a00-99ae-11ea-9cac-f349c6e04444.png)

[2020-05-19 13:26] chdsbd commented on #397
This is concerning. I’m confused how this is even possible.

[2020-05-19 13:31] chdsbd commented on #397
I'm assuming this is from a recent change to Kodiak and not a change in GitHub's API, so I've rolled back to the previously deployed version (c2c2690b4c1d0a1c4132acded6317941fd30cdb9) from (a10246d9d820331afcd65b206af4b4e3082ae551).

[2020-05-19 13:46] chdsbd commented on #397
Okay, I think I found the problem. I think it's because the GitHub API was returning 500 errors, so Kodiak was retrying the merge api request (https://developer.github.com/v3/pulls/#merge-a-pull-request-merge-button).

<img width="843" alt="image" src="https://user-images.githubusercontent.com/1929960/82333532-d7afb100-99b4-11ea-8f3d-f7c2dfd464dd.png">

Kodiak currently retries on failure, but tha

[2020-05-19 13:51] chdsbd commented on #397
FYI, the rollback will not have fixed this. It could still happen depending on GItHub's API stability.

Tonight I'll try and change Kodiak's behavior so on merge failure we add some label, `kodiak:merge-failed` instead of retrying.

[2020-05-19 13:59] styfle commented on #397
Thanks for the quick response!

Agreed, It might be worth reaching out to the GitHub staff on this one.

[2020-05-19 14:00] styfle commented on #397
Is a label necessary? I think updating the github check with text that says the merged failed would be sufficient. This is already the place I look to find out why a PR is not merged yet (checks missing, queued, etc).

[2020-05-19 14:13] sbdchd commented on #397
Possibly related to the 500s, GitHub's having an incident https://www.githubstatus.com/incidents/6hjb1189t0y9

[2020-05-19 14:17] chdsbd commented on #397
@styfle I've opened a GitHub support issue and when I hear back (usually takes two weeks) I'll post the response here.

@styfle My thought is that with the label a user could reenable Kodiak by removing it. I would also update the status check saying the merge failed.

[2020-05-19 14:22] styfle commented on #397
@chdsbd I think you could make it a little smarter and instead remove the "automerge" label (or whatever was configured as `automerge_label`).

For example: https://github.com/zeit/now/blob/master/.kodiak.toml#L4

In the case there is no automerge label configured and kodiak automerges always, then you could add the merge failed label as a fallback.

[2020-05-19 14:32] chdsbd commented on #397
@styfle Good idea. I'll do that and I think I'll probably add a comment explaining the problem, like Kodiak does with merge conflicts when the auto merge label is enabled.

[2020-05-20 00:24] chdsbd commented on #397
@styfle I've opened a pull request (#398) to address this issue.

I realized while making the PR that we probably don't want to depend on the automerge label because even if the automerge label is removed Kodiak could still update or approve the pull request depending on the user's Kodiak configuration.

Instead the pull request adds a new label that disables Kodiak from making any pull request up

[2020-05-20 00:48] #397 closed

[2020-05-20 02:23] chdsbd commented on #397
#398 has been deployed.

[2020-05-20 08:33] beckerei commented on #338
As of today all of the referenced issues get closed automatically 👍

[2020-05-21 22:12] MaicolBen opened #400 "Not merging Pull Request when self-hosted"
I had a lot of PRs with different messages that says something but it isn't merging, they are:
<img width="589" alt="Screen Shot 2020-05-21 at 18 55 10" src="https://user-images.githubusercontent.com/3474627/82611461-f66d9d80-9b96-11ea-9121-11b70763ccd5.png">
But it is the only one PR, it was like that for an hour

<img width="370" alt="Screen Shot 2020-05-21 at 19 11 07" src="https://user-images.

[2020-05-22 00:14] chdsbd commented on #400
Are you sure that the codeclimate status check has succeeded?

Can you try editing that PR (changing the title, labels, etc.) and seeing if that triggers Kodiak to merge the PR? Also, do you have a log output from Kodiak available?

The reason you see the `enqueued for merge (position={1st,2nd,3rd})` is because Kodiak tries to be efficient when merging and by default uses a merge queue so only one

[2020-05-22 00:40] haghabozorgi opened #401 "self-hosted, kodiakhq: status ⛴ attempting to merge PR (merging)"
We are running kodiak in our kube cluster,  and when we test a test PR, it works as expected, it requires  the PR is merged, which has and the branch is deleted as expected, but the checks tab in github for that merged pr shows

[code]

github checks tab snippet

![Screenshot_20200521_173058](https://user-images.githubusercontent.com/1186748/82618783-df27b380-9b88-11ea-8206-1d20440cfbbd.png)

gith

[2020-05-22 01:10] sbdchd commented on #401
Just to make sure I understand,  Kodiak is merging PRs but after merge, the status message on github is showing `status ⛴ attempting to merge PR (merging)` instead of something like `merge complete`?

Hmm seems like we don't set a status message on merge success: https://github.com/chdsbd/kodiak/runs/691144867

[2020-05-22 06:31] haghabozorgi commented on #401
@sbdchd  thank you for the quick reply, yes that is exactly the issue.

[2020-05-22 07:32] clxmstaab commented on #276
works like a charm, thx!

[2020-05-23 10:12] gnarea opened #403 "Support organisation-wide configuration via <org>/.github repositories"
I'd love to use Kodiak across all my repos with the same configuration, but it can be very time consuming to port this file across all repos and make sure they don't drift apart.

GitHub already uses `<org>/.github` repos for configuration across all repos, including issue templates, so I think that could be a good place to keep that global config file. [See this example](https://github.com/relayc

[2020-05-23 17:52] chdsbd commented on #403
To support this I think we'd need to update the [event info query](https://github.com/chdsbd/kodiak/blob/ebc30066cfae89e0c545a2a5b1bb16372a9426a4/bot/kodiak/queries.py#L59-L69) to also attempt fetching the configuration from the `.github` repository. We'd also need to update the [default branch lookup](https://github.com/chdsbd/kodiak/blob/ebc30066cfae89e0c545a2a5b1bb16372a9426a4/bot/kodiak/querie

[2020-05-23 18:21] gnarea commented on #403
Hey @chdsbd! Thanks for looking into it.

I installed Kodiak last week and I recall making at least 4 changes to the config file to tweak things as I learn more about how it works and how it interacts with other things I've configured on GitHub (bots, branch protections, etc). It should be stable now, but this meant I've had to port those changes to other repos by hand, which is why some form of g

[2020-05-23 19:57] mohsen1 opened #404 "Don't merge draft PRs"
https://github.com/zeit/next.js/pull/13193

I was surprised to see this PR was merged. Work wasn't completed actually

[2020-05-23 20:43] chdsbd commented on #404
It appears [`merge.require_automerge_label`](https://kodiakhq.com/docs/config-reference#mergerequire_automerge_label) is disabled on that repository, so as long as the pull request meets all GitHub Branch Protection requirements it will be merged.

https://github.com/zeit/next.js/blob/canary/.github/.kodiak.toml#L6

[2020-05-23 20:57] chdsbd commented on #404
Enabling `merge.require_automerge_label` would make it so Kodiak only merges pull requests with the automerge label, but if this can't be changed, there's a couple workarounds.

One workaround is to move the pull request into a "draft" state. GitHub does not allow draft pull requests to be merged.

Another option is to put "WIP:" in the title, which will prevent Kodiak from merging the pull reques

[2020-05-24 02:25] mohsen1 commented on #404
Thank you for the links! I must've clicked "Ready for review" by accident. GitHub is not showing when that happened in timeline so I'm not sure if I did it or someone else. Turns out GitHub doesn't allow merging draft PRs from the UI. if there is a bug in GitHub API that allows to do that then maybe this is an actual issue, otherwise I think this is a false alarm

Thanks! 💞

[2020-05-24 02:25] #404 closed

[2020-05-25 14:40] MaicolBen commented on #400
I know because when it wasn't self-hosted, it was working like a charm. I will attach you some proofs (now not even shows up in the PR):
![Screen Shot 2020-05-25 at 11 25 50](https://user-images.githubusercontent.com/3474627/82822514-5062b180-9e7c-11ea-9e93-3973a2483cc3.png)
![Screen Shot 2020-05-25 at 11 26 37](https://user-images.githubusercontent.com/3474627/82822522-52c50b80-9e7c-11ea-9bd6-e2a

[2020-05-25 15:33] chdsbd commented on #400
That Heroku error looks like a problem to me. `asyncio_redis` is the library Kodiak uses to connect to Redis, so I think hitting connection errors like that is probably an issue.

Can you try restarting Kodiak and providing any logs in a Gist?

[2020-05-25 15:34] chdsbd commented on #400
Also, I recently updated the docs to include a couple forgotten webhook event subscriptions: `push` and `status`.

https://kodiakhq.com/docs/self-hosting

[2020-05-25 17:17] MaicolBen commented on #400
Thank you, I added those events. Here it's the full logs https://gist.github.com/MaicolBen/b7e4093994cc37a290c20aab147c9eae

[2020-05-25 17:55] chdsbd commented on #400
It seems the Redis instance is running out of connections. https://gist.github.com/MaicolBen/b7e4093994cc37a290c20aab147c9eae#file-kodiak_logs-txt-L62

Kodiak opens a connection pool on start and the default size should be pretty small by default https://github.com/chdsbd/kodiak/blob/master/bot/kodiak/app_config.py#L15.

I think it takes time for the connection usage information to be updated in H

[2020-05-25 18:27] MaicolBen commented on #400
Yeah, I just upgraded and it worked correctly! Thank you very much!

[2020-05-25 18:27] #400 closed

[2020-05-29 09:46] SimonTheLeg opened #407 "Deleting branches that contain a "#" in their name does not work"
Hi all,

we've enabled the `delete_branch_on_merge = true`. This usually works fine, but if the branch contains a "#" character (which coincidentally is the ID our ticketing system uses), then it will fail to delete the branch with the following message.

[code]

My guess is since the "#" is part of the URL's path, maybe the GitHub API expects the character to be escaped?

[2020-05-29 11:32] chdsbd commented on #407
Yeah, I don’t think branch names get escaped. As a workaround you could enable branch deletion on merge through the GitHub UI.

[2020-05-29 13:11] #407 closed

[2020-05-29 13:35] chdsbd commented on #407
A new container should be available in Docker Hub for you to use (`cdignam/kodiak:237065307089cf66836d3fc7f1dca38f2a210c17`).

[2020-06-02 08:20] yanns opened #411 "support merge train"
Initial condition:
3 PRs are waiting to be merged.

Current situation:
- the first PR is updated to master, then we wait for the tests to be green, then the PR is merged into master.
- we do the same for the 2nd PR
- we do the same for the 3rd PR

New situation:
a merge train is created containing the 3 PRs (master + PR 1 + PR 2 + PR 3). Then the tests are run. If the tests are green, then the 3 P

[2020-06-02 16:29] chdsbd commented on #411
I think this would be a great feature to have in Kodiak.
That GitLab article has some nice information to work off.

I need to do some more thinking about how this feature could be added to Kodiak, but I think it's possible, albeit with some major additions to Kodiak.

[2020-06-03 00:02] chdsbd commented on #411
I've done some sketching and I think this is a reasonable feature to add. It's different from Kodiak's normal flow because Kodiak would be creating new branches and waiting on those branches instead of PRs.

That said I would expect this feature to take some time to implement, so you might want to pursue other means of improving test speed first.
At my work we've used [CircleCI's test splitting fe

[2020-06-03 05:00] yanns commented on #411
Thx for positive feedback! ❤️
Yes I can guess this feature would change quite a lot and would take some time.

[2020-06-05 07:30] SimonTheLeg opened #415 "Kodiak suddenly drops status report and blocks itself from merging"
From time to time kodiak drops its status and as result will not try to merge anymore. In the UI this looks like this:

![image](https://user-images.githubusercontent.com/20774623/83848532-4eb3ac00-a70e-11ea-99d4-d9e9f263e410.png)

Updating the PR in any way (re-adding the label, pushing new commits, ...) will unstuck kodiak and it continues to merge normally, however this issue occurs quite frequ

[2020-06-05 07:50] SimonTheLeg opened #416 "Auto-updating branches only works once (directly after the label has been set)"
From the documentation of `update.always`, I assume that as long as a branch has the automerge label, kodiak will always make sure to keep it up to date. This works fine for us directly after adding the automerge label. However if a different PR is merged into the same branch first, kodiak will not update the other PRs.

In the UI this looks like this:
![image](https://user-images.githubuserconten

[2020-06-05 11:47] chdsbd commented on #415
Hi Simon,

Thanks for the detailed issue.

Can you check that you have the GitHub App subscriptions configured to send `push` and `status` events. I'd updated the docs on May 24th with this: https://github.com/chdsbd/kodiak/pull/405/files

[2020-06-05 11:47] chdsbd commented on #416
Hi Simon,

I think updating the GitHub App subscriptions to send `push` and `status` events would also fix this issue.

https://github.com/chdsbd/kodiak/issues/415#issuecomment-639432101

[2020-06-05 12:47] SimonTheLeg commented on #415
ah that certainly makes a lot of sense, those two were missing. I've enabled them now. Will keep you posted if the issue re-appears. Thanks!

[2020-06-05 12:47] #415 closed

[2020-06-05 12:47] SimonTheLeg commented on #416
https://github.com/chdsbd/kodiak/issues/415#issuecomment-639459516

[2020-06-05 12:47] #416 closed

[2020-06-06 16:20] tamalsaha opened #418 "How does Kodiak handle signoffs?"
If I user `squash` merge mode for prs and `body = "pull_request_body"`, does Kodiak will automatically add the sign offs from the prs? Also, recently GitHub started showing `Co-authored-by` commits. Is it possible to support that in Kodiak?

[2020-06-06 16:33] chdsbd commented on #418
I think this feature request covers your use case: https://github.com/chdsbd/kodiak/issues/277

As a workaround I think using `"github_default"` for the merge body would give you GitHub's suggested co authors.

[2020-06-09 00:49] #277 closed

[2020-06-10 11:01] tobilen commented on #338
yes, i'll close this since it seems to be fixed

[2020-06-10 11:01] #338 closed

[2020-06-14 20:51] chdsbd commented on #277
This change has been deployed to production.

This configuration option is undocumented at the moment. I'll fix that soon.

You must have these configuration options set for this feature to work.

[code]

I made `merge.message.include_coauthors` only apply to "squash" commits because I think "merge" commits should not have multiple authors. I'm open to changing this if someone else feels different

[2020-06-15 07:53] tdeekens opened #437 "Rename `blacklist_labels` to `denylist_label`"
## Description

The config of Kodiak allows to specify various blacklist types.

## Solution

I would propose to rename any occurance of blacklist to allowlist to avoid oppressive wording.

These include:

1. `blacklist_labels`
2. `blacklist_title_regex`
3. `blacklist_usernames`

which can be renamed to

1. `denylist_labels`
2. `denylist_title_regex`
3. `denylist_usernames`

I would propose to per

[2020-06-15 13:11] chdsbd commented on #437
Here's what I came up with:

Before
[code]

After
[code]

I think we can update the documentation for the old terms to say "Deprecated. Please see `merge.blocking_title_regex` for documentation".

[2020-06-15 13:13] tdeekens commented on #437
I agree. Blocking labels as a naming is even more clear. To me I would support both and add a deprecation notice to the blacklist wording, yes.

[2020-06-16 14:07] austince opened #438 "Update by Comment Strategy"
Coming from #150 and the ability to add new update strategies, what do you all think about an update strategy that just makes a comment on the PR and allows other processes to handle the actual update? Not sure if this would work/ work well, but it might help Kodiak stay flexible without having to implement all the different update strategies out there. Would make working with other bots easier as

[2020-06-17 01:07] chdsbd commented on #438
Is your dependabot example just an example for discussion or an actual issue you've encountered? I think the example in the Kodiak docs should work with rebase merging. https://kodiakhq.com/docs/recipes#automated-dependency-updates-with-dependabot

[code]

I think comment or label based update strategies could be implemented.

It's a little more work than the default case because the GItHub merge

[2020-06-17 14:28] austince commented on #438
It's just for discussion, sorry for the confusion -- dependable has an update-by-rebase feature using that comment. The same could be done with this [GitHub action.](https://github.com/cirrus-actions/rebase)

That makes sense about the use of the idempotent API. I'm not familiar with how Kodiak works on a low level -- can you expand on what you think would be necessary for the comment checks?

[2020-06-17 23:55] chdsbd commented on #438
For implementation we'd need to update the main GraphQL query to also fetch comments.
https://github.com/chdsbd/kodiak/blob/f3d2dc9c760a49b15f955cec9d3e35df4486d5a3/bot/kodiak/queries.py#L61-L208

We'd also need to add a new configuration option.
https://github.com/chdsbd/kodiak/blob/f3d2dc9c760a49b15f955cec9d3e35df4486d5a3/bot/kodiak/config.py#L48-L67

Using the new comment information, when the

[2020-06-19 18:37] MrBartusek opened #445 "Recipes example uses outdated `dependabot-preview`"
**Summary**
[At 1 June GitHub announced on their blog](https://github.blog/2020-06-01-keep-all-your-packages-up-to-date-with-dependabot/#moving-forward-from-dependabot-com-and-dependabot-preview) that  `dependable-preview`  is moving intro GitHub natively and it [don't support automerge](https://github.com/dependabot/feedback/issues/954#issuecomment-640919061). That would be awsome if documentatio

[2020-06-19 18:46] MrBartusek opened #446 "`merge.optimistic_updates` documentation unclear"
Config references feature [merge.optimistic_updates](https://kodiakhq.com/docs/config-reference#mergeoptimistic_updates)

---

### `merge.optimistic_updates`
- type: `boolean`
- default: `true`

Don't wait for in-progress status checks on a PR to finish before updating the branch.

This setting can speed up merges but increases chance of running extra CI jobs.

---

As new Kodiak, I don't really u

[2020-06-19 19:48] chdsbd commented on #446
If you open a pull request that is out of date with the target branch, and you have the "Requires branches to be up to date" Branch Protection setting enabled, you must update the pull request before it can be merged.

With `merge.optimistic_updates = false`, Kodiak waits for any running status checks to finish before updating the pull request branch. With `merge.optimistic_updates = true`, Kodiak

[2020-06-19 19:57] MrBartusek commented on #446
@chdsbd Thanks! Now I know everything! Is it possible to add that information to docs?

[2020-06-19 19:59] chdsbd commented on #446
I'll look at improving the docs for this configuration option.

You may also want to checkout https://kodiakhq.com/docs/features, which should hopefully be easier to read than the configuration reference.

[2020-06-19 20:04] #445 closed

[2020-06-19 21:24] #446 closed

[2020-06-20 14:34] chdsbd commented on #418
#277 has been resolved so I'm closing this issue. See the docs for information about adding coauthors: https://kodiakhq.com/docs/config-reference#mergemessageinclude_coauthors

Feel free to reopen if this is still an issue.

[2020-06-20 14:34] #418 closed

[2020-06-20 18:02] austince commented on #438
Thanks for the detailed notes @chdsbd ! I probably don't have a chance to create a PR for a few weeks at least, so if anyone wants to take this in the meantime go ahead by all means, but I'll open an initial attempt if no one else does.

[2020-06-22 00:13] #437 closed

[2020-06-22 11:04] tamalsaha opened #455 "Using Kodiak with free private repos"
Currently Kodiak requires branch protection. But branch protection is not available in free private GitHub repos. Is it possible to relax this requirement so that we can use Kodiak against free Github private repos?

I understand that we have to pay for Kodiak to use with private repos. That sounds good to us.

[2020-06-22 12:50] chdsbd commented on #455
Kodiak depends on GitHub Branch Protection to get mergeability information from the GitHub API. Kodiak needs this information Kodiak to know if a branch is out of date, if status checks are required, etc. So it's not possible to remove this branch protection requirement.

related https://github.com/chdsbd/kodiak/issues/396

Also, Kodiak is free for personal accounts on private repositories, so if

[2020-06-22 21:45] chdsbd commented on #455
Kodiak uses the GitHub API for its operations, so we can't easily check if a branch is out of date using git commands.

Currently the [`MergeStateStatus` enum](https://developer.github.com/v4/enum/mergestatestatus/) indicates if a PR needs to be updated but will only be set if "Require branches to be up to date before merging" is set in GitHub branch protection settings.

For required status check

[2020-06-23 10:57] Bexanderthebex commented on #222
Hello, we are experiencing this regardless of merge method - rebase/merge/squash.

For more context, here is our config, the auto update branch feature just wont work.

[code]

[2020-06-23 10:59] Bexanderthebex commented on #295
Hello, we are experiencing this regardless of merge method - rebase/merge/squash.

For more context, here is our config, the auto update branch feature just wont work.

[code]

[2020-06-23 11:54] chdsbd commented on #295
@Bexanderthebex can you open a new issue?

It seems like the GitHub API was returning HTTP 500 internal server errors when Kodiak was trying to merge your pull request.

[2020-06-23 12:33] chdsbd commented on #295
Okay, I've looked into this for a while now and after some false starts I think the issue is with GitHub.

I think the GitHub API is kind of broken for your repository or installation

[code]

Kodiak cannot call the update branch api. I also tried calling the api manually using an installation token for your repository and also received a 500 internal server error.

I'd try reinstalling Kodiak to

[2020-06-26 08:51] Levino commented on #153
Disclaimer: This is not intended as advertisement or anything so I wont put links. It is a remark on this dicussion!

I just installed mergify and mergify supports "Waiting for approving reviews" without Github branch protection rules. We have the use case that we want to enable the devs to merge without an approval but all the tests have passed and automatically merge once an approving review has

[2020-06-26 12:31] chdsbd commented on #153
Hi @Levino,

Kodiak is mostly configured via GitHub branch protection rules in order to simplify its configuration and ideally make it "just work". As you've noticed you can configure Kodiak to wait for approving reviews via GitHub branch protection settings.

If you wanted Kodiak to wait for approving reviews without configuring GitHub branch protection settings, that's something that could be bu

[2020-06-26 14:49] staabm commented on #153
you could also use a GithubAction to approve the PR automatically

[2020-06-29 06:22] Levino commented on #153
Why should one want a PR to be automatically approved? Then I could just not require reviews and merge once all the tests have passed.

[2020-06-29 06:25] Levino commented on #153
I am pretty sure that OP said that it counted a "Comment review" as an "Approving review". Even if, what is the point of merging a pull request if there are "x reviews" without making sure that the x reviews are approving reviews (and there is no rejecting review which in all the scenarios I am aware of counts as a veto and has to stop the PR from being merged). I have to disagree: Merging on "x r

[2020-06-29 13:18] chdsbd commented on #153
Sorry for the confusion.

I think the GitHub action would approve the PR when you add a specific "approve" label. This would allow you to keep the "Require approving reviews" branch protection setting enabled while also allowing developers to merge their pull requests without a review.

The feature discussed in this issue was not about merging pull requests based on reviews. It was about _not_ mer

[2020-06-30 06:18] Levino commented on #153
I disagree and that is also why I commented on this issue in the first place: It is much better, not to require approving reviews via branch protection. Consider the (common) situation that a team member opens a PR with a very simple, safe change like updating some config file. All checks pass but they cannot merge because the branch protection says: "You need two approving reviews.". So they star

[2020-07-03 20:49] chdsbd commented on #323
I found this GitHub bot which you can configure to block merging based on a schedule. It doesn't completely solve this issue because it will block merging completely, not just auto merging.

https://github.com/marketplace/merge-freeze

[2020-07-06 03:34] #387 closed

[2020-07-06 03:35] chdsbd commented on #387
I'll update this issue when #464 has been deployed.

[2020-07-10 02:09] chdsbd commented on #387
#464 has been deployed to production. If `merge.method` is not configured, Kodiak will use the first valid merge method in the repository based on the list "merge", "squash", "rebase".

[2020-07-10 11:18] gnarea commented on #387
Thank you so much!

[2020-07-18 21:30] #401 closed

[2020-07-19 00:44] chdsbd commented on #401
This has been fixed by #469 which has now been deployed.

[2020-07-28 11:26] jglick opened #475 "[docs] “Efficiency and Speed” recipe confusing"
https://kodiakhq.com/docs/config-reference#mergeoptimistic_updates says that the default is true and it can speed up merges. Makes sense so far.

https://kodiakhq.com/docs/recipes#efficiency-and-speed says it

which sounds to me like it should be turning off optimistic updates. Yet the sample says

[code]

overriding a default of `true` with an explicit `true`? Which would seem to be prioritizing

[2020-07-28 13:11] chdsbd commented on #475
Thanks for raising this issue.

I think this recipe and the `merge.optimistic_updates` docs need to be improved.

For this recipe I think we explicitly set `merge.optimistic_updates` to highlight the configuration option.

For the configuration option, when an out-of-date pull request is being merged and `merge.optimistic_updates` is disabled, Kodiak will wait for running status checks to complete

[2020-07-28 14:16] jglick commented on #475
This would be worth emphasizing in docs.

So if I get it right, the recipe is all about speed of merging, _at the expense of_ resource conservation (or “efficiency”)?

[2020-07-28 19:25] staabm opened #476 "Override some config keys for certain PRs"
We usually use  the „squash and merge“ strategy to merge feature PRs into the target branches. Therefore we configured kodiak for this use case in the kodiak config  file.

Still we have a need to merge some PRs with „merge by merge-commit“ strategy (e.g. when merging commits between release branches). We do this atm via manually pushing the green button.

It would  be great if it would be possibl

[2020-07-28 20:06] staabm commented on #476
another approach could be:

Define different "config-sets" in the config file and depending on the merge label, kodiak could use different configurations

[2020-07-28 22:44] chdsbd commented on #475
Pretty much, although there's room to improve the performance at the cost of more resources by immediately updating branches when they're out of date (see [`update.always `](https://kodiakhq.com/docs/config-reference#updatealways)).

As is, this config definitely needs to be reworked and rename.

[2020-07-28 22:52] chdsbd commented on #476
Do you see any other keys needing to be overridden for certain PRs?

I think your label suggestion is probably easier to implement than the config option, but I'm open to suggestions if you have ideas about how the config option would look.

For the label solution we already have labels in the `mergeable` function and would only need to update this `get_merge_method` function to accept and use lab

[2020-07-29 09:47] staabm commented on #476
atm I can only think of the merge-method

[2020-07-30 09:51] clxmstaab commented on #261
just realized that we hit this problem again

the (private) PR https://github.com/complex-gmbh/kunzmann/pull/1073 does not get updated from the "production" branch (which is our default branch) for 3 days now.

the "production" branch saw at least 10 commits in these 3 days though.

github offer me the "update branch" button to get the PR up 2 date.

[2020-07-30 13:38] chdsbd commented on #261
@clxmstaab I did some digging but I'm not sure of the cause of this issue. Kodiak updated the pull request after I manually triggered an evaluation of the pull request.

Based on the logs it seems like Kodiak has been evaluating this PR and setting that status check you show in the screenshot. The last evaluation was `2020-07-30T13:00:44.086408601Z`.

This status check means Kodiak was hitting thi

[2020-07-30 20:40] TomasVotruba opened #477 "[question] How to rebase !fixup commits?"
In short: I have fixup commits (made by another bot) and I'd like to make just 1 by `rebase --interfactive` basically. How can I do that?

Minimalistic PR with 2 mini commits: https://github.com/rectorphp/rector/pull/3838 -

I tried to use `rebase` strategy, but it doesn't seem to handle the job. There are still 2 commits, in PR and in the `master`

[2020-07-30 23:31] chdsbd commented on #477
In your example Kodiak merged your pull request using the "merge" method. If you want to use "rebase" you need to update the `.kodiak.toml` on `master` first.

This change to the `.kodiak.toml` would only have an effect after the PR is merged: https://github.com/rectorphp/rector/pull/3838/files#diff-a9c8419416181476c83e6a05ea0c5695R8

I think you also want to quote the word rebase like below:

[co

[2020-07-30 23:35] TomasVotruba commented on #477
Thanks for quick reply.

Is there a way to have commits rebased/squashed in the pull-request to 1 commit too?

I rarely use `master`, if there is pull-request with few commit to check.

[2020-07-30 23:39] chdsbd commented on #477
Does "squash" merge meet your need to combine the commits in the pull request into one commit on merge?

[2020-07-30 23:45] TomasVotruba commented on #477
Nope, it only "squashes" them in master branch. The PR is still poluted with many commits

[2020-07-30 23:54] chdsbd commented on #477
I understand. You'd like Kodiak to combine all the commits in your pull request into one and force push to the PR's branch.
There isn't functionality for this in Kodiak.

Out of curiosity, is your reason for not wanting multiple commits on a PR a style choice?

[2020-07-31 00:33] TomasVotruba commented on #477
It's rather choice to save time/energy on looking for abug.

In case of git blame on Github most commits relate to PR links. That's where I mostly look for bugs or what happened. Having 50 or just 2 commits instead of 1 makes it harder.

[2020-07-31 00:33] TomasVotruba commented on #477
Do you know any other Github Action that could handle this feature?

[2020-07-31 02:33] chdsbd commented on #477
I'm not sure I'll be able to convince you but I think "Squash and Merge" could make your PR workflow easier.

"Squash and Merge" always creates one commit per PR on your main branch, which is how a PR is reviewed anyway. Squashing eliminates the need to rebase and force push your commits too. So fixing a test, lint, or typo doesn't require any more work beyond a single commit.

It's certainly pers

[2020-07-31 09:53] TomasVotruba commented on #477
Hm. I might need to understand your workflow better.

So how do you look for problematic commit in 3 years old pull-request on Github? Let's say the squash commit is only 1, while the PR has 100 various messy commits.

[2020-07-31 13:29] chdsbd commented on #477
Here's an example PR: https://github.com/chdsbd/kodiak/pull/398

The 14 junky commits (https://github.com/chdsbd/kodiak/pull/398/commits) it has aren't particularly useful to inspect, so I would look at the diff instead: https://github.com/chdsbd/kodiak/pull/398/files

Using "Squash and Merge" with Kodiak configured to use the pull request title and body for the commit message creates a nice singl

[2020-07-31 13:46] TomasVotruba commented on #477
I've just read your post and it gave some time to think.

I think what I want is best in UX, but costly to achieve.
It might be worth to lower my standards and give it a try. At least I'll be pushed towards smaller PR.

Thanks for consulting and patient sharing of your views. I really enjoyed the dialog! It's so rare on Github. Where did you learn it?

[2020-07-31 16:38] TomasVotruba commented on #477
I'm looking at the docs and there is only "squash", "rebase" and "merge" separately.
So which should I pick to make "sqhasn and merge"?

[2020-07-31 17:11] chdsbd commented on #477
Sorry for the confusion, I was using the GitHub lingo,

<img width="276" alt="image" src="https://user-images.githubusercontent.com/1929960/89059468-38e9ee00-d32f-11ea-906a-3752c0deb24c.png">

"squash" will configure Kodiak to use the "Squash & Merge" option.

[2020-07-31 17:44] TomasVotruba commented on #477
Great, I'll try it. Thank you

[2020-08-02 16:38] ChildishGiant opened #478 "Incorrect link in docs"
This page (https://kodiakhq.com/docs/recipes#automated-dependency-updates-with-dependabot) has a link to the quick start guide but instead of leading to https://kodiakhq.com/docs/quickstart it leads to http://localhost:3001/docs/quickstart

[2020-08-02 19:31] #478 closed

[2020-08-02 19:31] chdsbd commented on #478
Thanks for the report!

[2020-08-03 15:52] clxmstaab commented on #261
not sure what I can do to further investigate into the problem

[2020-08-03 15:53] chdsbd commented on #261
@clxmstaab Are you still seeing this issue? I meant to try reproducing this over the weekend but other things got in the way. It's on my todos.

[2020-08-03 15:55] clxmstaab commented on #261
yes. e.g. on https://github.com/complex-gmbh/kunzmann/pull/1128 no updates happend for a few days, even though the production branch saw several commits in the meantime

![image](https://user-images.githubusercontent.com/47448731/89201959-8cb83980-d5b2-11ea-9db7-b7c3b4e09f70.png)

[2020-08-04 14:09] andrewhampton commented on #150
I'm in the same boat as Johannes. His first comment describes my situation exactly.

We've been using Kodiak for a few weeks in a small test repository. It's worked great, but CI in that project is so fast, I hadn't noticed the rebase strategy creates a new SHA for the commit in master.

CI and docker builds in our main application take around 20 minutes. So when we started experimenting with Kodi

[2020-08-05 01:21] chdsbd commented on #150
@andrewhampton Thank you for your detailed response.

Also thanks for linking those docs. I didn't realize that GitHub modifies commits on rebase merge. That [update ref endpoint](https://docs.github.com/en/rest/reference/git#update-a-reference) you referenced seems like a great way to work around GitHub's rebase merge behavior.

I think you outlined the features we need to add perfectly:

I think

[2020-08-05 14:54] andrewhampton commented on #150
I may have time to work on this within the next 3 weeks. This isn't critical to the success of the project I'm currently on, but it's definitely the highest priority "nice to have" on our list.

[2020-08-06 04:44] haghabozorgi commented on #401
Thank you for the fix.

[2020-08-06 21:48] TomasVotruba commented on #477
I'm using it for a week and so far so good. Thanks for very pleasent mentoring :+1:

[2020-08-06 21:48] #477 closed

[2020-08-07 02:57] #475 closed

[2020-08-08 19:55] chdsbd commented on #261
I was able to reproduce this so I should be able to debug this issue.

I setup a test repository using the config you provided and opened ~10 pull requests all with `WIP: ` in the title. I then merged one of them via Kodiak and found that none of the other pull requests were updated.

[2020-08-09 20:19] chdsbd commented on #261
When the target branch is updated all of the pull requests against that are reevaluated. But the pull requests aren't being updated because the `mergeStateStatus` is `UNKNOWN`, which means the code that indicates that a pull request should be updated is false:

https://github.com/chdsbd/kodiak/blob/e80b9d125e179bc2e76e09f5e552f14a74e5aba2/bot/kodiak/evaluation.py#L546-L549

Usually when we encount

[2020-08-11 01:37] chdsbd commented on #261
I've deployed #482 and #483, which seems to have resolved the issue. Let me know if you run into this issue again.

[2020-08-11 01:37] #261 closed

[2020-08-12 17:28] jberryman commented on #104
@chdsbd I'm glad to hear updating forks works for the common case. This is a good differentiator to include in https://kodiakhq.com/docs/prior-art-and-alternatives in my opinion (it's why (I learned after setting it up) bulldozer doesn't work for us)

[2020-08-12 17:34] chdsbd opened #487 "improve differentiators in comparison table"
I think the last time we updated this table was before the docs website even existed.

Add some more differentiators to the table.

Related: https://github.com/chdsbd/kodiak/issues/104#issuecomment-673009476

[2020-08-12 17:34] chdsbd commented on #104
@jberryman Thanks for the feedback. That table has definitely been neglected. I'll take a look at adding some more differentiators.

I've created a ticket to track this https://github.com/chdsbd/kodiak/issues/487.

[2020-08-13 22:14] #487 closed

[2020-08-17 08:57] staabm commented on #403
We use a simple github action to sync files between repositores based on golden master files.

Thats pretty easy and also has the benefit that it better works for cases where you don‘t want files from the `.github` repo to work with all of your reposes.
Also it works for any file, not just those supporting the `.github` repo

[2020-08-18 14:27] infokiller opened #492 "Interaction with dependabot when there's a merge conflict"
Hi,
I configured kodiak with dependabot as [documented](https://github.com/infokiller/selfspy/pull/56). One issue I encountered in [a PR of one of my forks](https://github.com/infokiller/selfspy/pull/56) is that kodiak removes the `automerge` label when it encounters a merge conflict. However, dependabot didn't add that label back after it resolved the conflict, which requires me to do the merge m

[2020-08-19 01:20] chdsbd commented on #492
Thanks for the report.

Removing the "automerge" label is expected behavior in general, but thinking about it more I realize it's probably not the best user experience.

As a workaround you can disable Kodiak leaving a comment on merge conflicts by setting: https://kodiakhq.com/docs/config-reference#mergenotify_on_conflict. This will stop Kodiak from removing the "automerge" label.

[code]

[2020-08-19 07:13] etiennetremel opened #493 "Tag not replicated in Docker hub after release v0.20.0"
It seems that Git tags aren't correctly pushed to Docker hub. The last available tag is v0.20.0.
Still, I can use the commit sha but having back the tag there would be better for user experience.
Anything I can help with to get the tag available there as well as in git?

[2020-08-19 09:27] #492 closed

[2020-08-19 10:19] infokiller opened #494 "Support `.github/kodiak.toml` (not just `.github/.kodiak.toml`)"
Context: I like having my config files centralized to avoid clutter/pollution (similarly to `~/.config` in Linux/XDG). When these files are centralized, it's not necessary to name them with a prefix dot (`.filename`), since they no longer add clutter, and it's actually somewhat better not to name them this way, since then `ls` will show them by default.
With that context in mind, I'd like to sugge

[2020-08-19 23:02] chdsbd commented on #493
I think we need to update the `.circleci/config.yml` to build tags.

https://circleci.com/docs/2.0/configuration-reference/#tags

[2020-08-19 23:06] chdsbd commented on #494
Good idea.

This isn't too hard to implement. We need to add a couple more options to the query that fetches the files: https://github.com/chdsbd/kodiak/blob/2965d2e79f0a7b3984ad64cd57b3b082d6144a59/bot/kodiak/queries.py#L196-L205

For consistency we should probably support `kodiak.toml` in the root too. So users could do `.kodiak.toml`,`kodiak.toml`,`.github/.kodiak.toml` and `.github/kodiak.toml

[2020-08-20 02:42] infokiller commented on #494
One thing that I guess needs to be sorted out is the priority of these files in case the user provides multiple ones (probably a user error, as I see no reason to do that).

[2020-08-20 02:52] chdsbd commented on #494
Yeah, right now we just go in some order: https://github.com/chdsbd/kodiak/blob/2965d2e79f0a7b3984ad64cd57b3b082d6144a59/bot/kodiak/queries.py#L892-L899

We could probably raise a configuration error to the user if multiple configuration files are provided.

[2020-08-20 10:48] Nikamura opened #496 "Title gets chopped up when merging"
We are using kodiak with these settings

[code]

but when Pull Request is merged and title is long it chops it up into "Begining of the sen..." and puts rest of the text in body.
Can this behaviour be customized so it will merge PR with whatever title is of the PR without these mods?

[2020-08-20 16:57] chdsbd commented on #496
I was able to reproduce this issue with the following title:

[code]

<img width="675" alt="image" src="https://user-images.githubusercontent.com/1929960/90801826-6568a880-e2e4-11ea-8bee-bc31cc215aec.png">

I think this is just how the GitHub UI displays long commit titles. Looking in `git` the commit title was not split into multiple lines.

Here's the commit copied from `git log`
[code]

[2020-08-21 03:35] #493 closed

[2020-08-27 10:44] mihai-cindea opened #497 "Different merge methods for different branches"
I looked over the docs and couldn't find anything, but please correct me if it already exists:
Example: use `squash` for branch name `develop`, but for `master` branch always use `merge` ?
Use case: We have a `develop` branch where all the features get merged and we want them squashed, but when we merge `develop` into `master` it would be nice to have a merge so we preserve all the history.

[2020-08-27 13:22] chdsbd commented on #497
You're correct, Kodiak doesn't support per branch configuration. We need new configuration options to support your desired use case.

Would https://github.com/chdsbd/kodiak/issues/476 work for your use case?

Maybe we could do something like the following for the configuration. We could add a new `branch_override` key and allow overriding configuration settings per branch.

[code]

I'm curious if

[2020-08-27 13:31] mihai-cindea commented on #497
Yes! actually the tag idea would be much better, since that way I can only add that tag to a specific branch after i checked that the source branch is actually `develop` in my case, otherwise it would require an extra config like "source_branch".
The tag idea also it adds more flexibility going forward.
Thanks for the fast response!

[2020-08-31 13:43] styfle opened #498 "Feature Request: kodiak label should run github actions with secrets"
I'm not sure if this is possible, but I would like to utilize Kodiak to solve a very annoying issue for public repos.

The issue is that PRs from someone outside the org come from a forked repo instead of a branch inside the main repo, so GitHub won't provide the secrets to GitHub Actions, and thus CI fails.

Since we already use a label, automerge, to tell Kodiak to merge when all GitHub checks p

[2020-09-01 00:42] chdsbd commented on #498
Hi @styfle,

Thanks for opening this issue.

I did some testing and I was able use a GitHub App's authorization token to push commits from a fork to an upstream repository. So with that branch the GitHub App could create a PR and then the commits would get tested.

Here's the flow I envision:

1. User adds label "test-pr" to PR from fork
2. GitHub App clones the forked repository and pushes the fo

[2020-09-01 12:37] styfle commented on #498
Hi @chdsbd

Thanks for the quick response!

Yes, those steps sound correct. The more I think about it, the more it does seem to be a different GitHub App because I forgot about the use case where Kodiak can be used to merge without labels. Another thing to consider is the case when you add a label, CI runs, but fails. How do you restart once new commits are pushed? Probably remove and add the labe

[2020-09-05 20:17] chdsbd commented on #476
#501 has been deployed. I haven't added documentation yet, but you can now override `merge.method` with a pull request label (`kodiak:merge.method='rebase'`).

The label is basically the `.toml` config prefixed by `kodiak`, so it can be formatted in a few ways and will have the same effect: `kodiak:merge.method='squash'`, `kodiak: merge.method = "merge"`.

Let me know if you have any trouble.

[2020-09-05 20:18] chdsbd commented on #476
If anyone wants to override more config keys we can open another issue.

[2020-09-05 20:18] #476 closed

[2020-09-05 20:20] chdsbd commented on #497
@mihai-cindea It's now possible to override `merge.method` for specific PRs with a label (`kodiak: merge.method = "rebase"`). This comment has more information: https://github.com/chdsbd/kodiak/issues/476#issuecomment-687658106

Let me know if this solves your issue.

[2020-09-08 15:32] mihai-cindea commented on #497
Oh, wow @chdsbd I didn't expect you to work on this so fast, I ended up writing a custom github action bot. While I can't confirm it works for me I assume it would have, and will close this issue.
Thank you so much for the fast response!

[2020-09-08 15:32] #497 closed

[2020-09-14 06:38] Norfeldt opened #505 "update.always"
This looks like an awesome bot. I'm giving it a try and going through the settings.

I have a question about the [update.always](
https://kodiakhq.com/docs/config-reference#updatealways) setting.

Say I have two branches with the 'automerge' and 'dependency' labels. One of them passes the tests first, Kodiak merge it in. Then the other one is behind.

Will Kodiak detect that (with `update.always =

[2020-09-14 23:04] chdsbd commented on #505
By default, `update.always` will update the second PR so it's even with the target branch, when the "Require branches to be up to date before merging" branch protection setting enabled.

I'm assuming you're using Dependabot based on the `dependency` label, in which case you'll probably want to disable `update.always` and let Dependabot handle updating the pull requests.

https://kodiakhq.com/docs/

[2020-09-15 23:02] Norfeldt commented on #505
Thank you very much for replying so quickly.

Does this means that this settings is only relevant for Enterprise Github accounts that has the **"Require branches to be up to date before merging"** branch protection setting _enabled_

[2020-09-15 23:46] chdsbd commented on #505
`update.always` is relevant when the "Require branches to be up to date before merging" branch protection setting enabled. Branch protection is available for all public repositories as well as private repositories of paid GitHub accounts.

[2020-09-16 06:56] Norfeldt commented on #505
Thank you, Christopher Dignam

[2020-09-16 06:56] #505 closed

[2020-09-24 16:30] sindrig opened #508 "Skipped check doesn't count as failure"
We're reviewing Kodiak for our monorepo. Straight away it seems that Kodiak merged a PR that should not have been mergeable.

https://github.com/island-is/island.is/pull/1061

We require the `success` step to be successful but it wasn't. Is there any extra configuration we need to do? Also, shouldn't this have been fixed by https://github.com/chdsbd/kodiak/pull/352?

[2020-09-24 17:33] chdsbd commented on #508
Hi @sindrig,

Sorry about the unexpected merge.

Kodiak obeys GitHub Branch Protection settings. So if you want Kodiak to wait for a certain status checks you need to mark them as "Required" in GitHub Branch Protection settings.

For Kodiak's repository the settings look like this:
<img width="800" alt="Screen Shot 2020-09-24 at 1 31 32 PM" src="https://user-images.githubusercontent.com/1929960/94

[2020-09-25 11:02] sindrig commented on #508
Wow, you're right. I thought skipped checks would count as failures. Is it possible to configure kodiak to count skipped checks as failed?

You can see a simpler test of this here: https://github.com/sindrig/kodiaktest/pull/8

Basically I've got a before step that always fails, and a run step that's required and it `needs` before. Could I be doing something else?

[2020-09-25 11:05] sindrig commented on #508
I think I've got it - it's just a matter of putting `if: always()` in the final step as seen in https://github.com/sindrig/kodiaktest/pull/8/commits/1dbf2029e934442a317aa3d3a41110e87cb7507f

I'm going to keep this issue open until I verify it in island-is/island.is if that's okay :)

[2020-09-25 12:47] sindrig commented on #508
Looks like it works as promised, sorry for the noise and thanks for this great tool :tada:

[2020-09-25 12:47] #508 closed

[2020-09-29 11:05] sindrig opened #515 "Branch updated multiple times"
So far we're really loving kodiak!

Is there a way to limit the number of update merge commits to PRs? E.g. only to update the branch when all checks (actions and reviews) are done and the PR is eligible for merge?

PR in question: https://github.com/island-is/island.is/pull/1078 where kodiak updated the branch 4 times.

[2020-09-29 11:29] sindrig commented on #515
After reading through the discussions on https://github.com/chdsbd/kodiak/issues/87 I guess this is related? Especially https://github.com/chdsbd/kodiak/issues/87#issuecomment-515784006. LMK and then we can close this as duplicate.

[2020-09-29 12:34] chdsbd commented on #515
Hi @sindrig,
You're correct. This issue is related to code owners. I recently learned of a new GraphQL field called `reviewDecision` that I'm hoping to use in #509 to resolve this issue. Sadly this new field seems to be broken when "Require review from Code Owners" is enabled. I'm communicating with GitHub support to hopefully resolve this bug soon (within the week).

[2020-09-29 12:38] sindrig commented on #515
Thanks for the quick reply. If you need any help resolving this feel free to reach out!

[2020-09-29 12:38] #515 closed

[2020-10-01 08:48] clxmstaab commented on #476
@chdsbd would it be possible to combine the merge-method label, with a automerge label?

we would want to only add a single label to a PR to make the merge happen.

as it stands today, we need to set one label to override the merge-method and another one to start the automerge itself.

I guess a possible solution could be to allow multiple merge-labels, so we could set `kodiak:merge.method='squash

[2020-10-01 11:42] chdsbd commented on #476
@clxmstaab I like your idea of allowing multiple automerge labels. Maybe we can add a new field, merge.automerge_labels, that would be a list of labels. Or maybe allow specifying a list of labels with merge.automerge_label, although it seems weird since that config setting isn't plural.

[2020-10-09 17:56] styfle opened #521 "Feature Request: Can kodiak use multiple automerge_label?"
### Problem

We are thinking of changing our PRs to require labels to merge.

Rather than adding a new bot, I was wondering if Kodiak could enforce this requirement.

### Possible Solutions

Use an array: `merge.automerge_label = ["semver-major", "semver-minor", "semver-patch"]`

Use a regex pattern: `merge.automerge_label_pattern = "^semver-(.*)$"`

Must match all patterns: `merge.automerge_label

[2020-10-09 17:56] styfle commented on #521
I started this as a question and then changed to a feature request 😄

[2020-10-09 18:20] chdsbd commented on #521
This change hasn't been documented or released yet, but I think it may be what you want: https://github.com/chdsbd/kodiak/pull/516

Although looking at your suggestions it might be less confusing if we have `merge.automerge_label` accept an array as you suggested instead of adding the `automerge_labels` field.

[2020-10-09 19:43] styfle commented on #521
Either way seems fine to me 👍

I'm particularly fond of the last solution I suggested because it allows for requiring 2 labels (or more) which opens up really nicely labelled PRs.

[code]

This example would require both the semver prefixed label and the type prefixed label.

[2020-10-09 20:19] chdsbd commented on #521
Do you foresee needing multiple patterns?

Also, do you think you'll need anything to do semver comparisons, like only matching on minor version changes?

[2020-10-10 14:04] styfle commented on #521
Perhaps in the future yes.

The idea is to avoid PR Templates with checkboxes because that data is not easily searched/filtered compared to labels.

I didn't think about it at first but now that you bring it up, maybe kodiak could increase the number of reviewers required for semver-major 😮

That part is not necessary thought. The purpose of the semver label is to better organize release notes and

[2020-10-10 22:23] chdsbd commented on #87
CODEOWNERS is now supported as of #509's release via https://github.com/chdsbd/kodiak/releases/tag/v0.30.0.

[2020-10-10 22:23] #87 closed

[2020-10-10 23:07] chdsbd commented on #521
Would you want to require every PR to have these labels? If so, I think a GitHub action to enforce the label requirements might be helpful.

[2020-10-11 21:50] styfle commented on #521
Yes that is the goal: labels required to merge.

Indeed, another bot or action would help but it would be nice to have requirements to merge codified with Kodiak.

If this is out of scope, feel free to close 🙂

I think #516 will solve the problem for the time being once that is released 👌

[2020-10-13 17:44] mattjw opened #529 "Feature Request: An auto-update label to allow selective auto-update without auto-merge"
## Limitation

Looking through the [config](https://kodiakhq.com/docs/config-reference), if a developer wants to use auto-update, they have two options:

- Auto-update is enabled for all PRs
- Auto-update is enabled for all PRs that opt in to auto-merge

From the docs:

For my use case, it would be great to have a third option:

- Auto-update is enabled for all PRs that opt in to auto-update

## F

[2020-10-13 23:47] chdsbd commented on #521
#516 was replaced with #522 and deployed on Saturday. However, I'm not sure that change is what you want because any of the labels specified by `merge.automerge_label = ["ship it!", "merge"]` will trigger merge.

I'm open to expanding Kodiak to support linting pull requests, but it might be quicker to write an action for your specific use case.

Maybe a pull request lint config could look like the

[2020-10-14 00:00] chdsbd commented on #529
Thanks for the detailed feature request.

By default Kodiak is efficient when merging pull requests and only updates them before merge, if necessary. When `update.always = true` Kodiak will immediately update any pull request that becomes out of date with the target branch.

From what I understand, you'd like the behavior of `update.always = true`, but only when a specific label is applied to a pu

[2020-10-15 22:15] styfle commented on #521
That would be really nice 👍

It think #522 is going to solve [our use case](https://github.com/vercel/vercel/pull/5282) for now, thanks!

[2020-10-16 09:46] clxmstaab opened #534 "use `kodiak: merge.method = 'merge'` as automerge-label doesn't work"
... with this label...

![image](https://user-images.githubusercontent.com/47448731/96243225-b58e7f00-0fa4-11eb-9672-5f2bad708f96.png)

...applied to a PR ...

![image](https://user-images.githubusercontent.com/47448731/96243097-8ed04880-0fa4-11eb-9239-f279332aff2b.png)

...of a project with the following config ...

[code]

I would expect kodiak to merge the PR with a merge commit.

kodiak report

[2020-10-16 12:31] chdsbd commented on #534
I think this may have been a problem where Kodiak missed an event for this PR. I tested your config and I was able to merge a pull request via `kodiak: merge.method = 'merge'`.

As a workaround you can update the pull request (edit the description or title, add/remove a label, etc.) and that should trigger Kodiak to reevaluate the pull request.

Out of curiosity, if you click "Details" to the righ

[2020-10-16 13:02] clxmstaab commented on #534
ok thx.. I will check whether it happens again.

as you said, we had other cases which worked like expected since I reported the issue.

the PR was merged, so this information is no longer available

[2020-10-16 13:38] clxmstaab commented on #534
looks good in another example. will close for now and report back in case I can reproduce.

sorry for the noise.

[2020-10-16 13:38] #534 closed

[2020-10-17 12:05] gnarea opened #535 "Kodiak has suddenly stopped working"
Hi,

I can't figure why Kodiak has suddenly stopped working across all repos in my organisation. Here's an example: https://github.com/relaycorp/relaynet-poweb-js/pull/38

Kodiak approved the PR 17 hours ago and I added the `automerge` label 2 hours ago, but Kodiak isn't showing up in the PR checks.

Cheers.

[2020-10-17 12:41] chdsbd commented on #535
Hi @gnarea,

Sorry about that. Based on uptime checks, Kodiak was down from `2020-10-17 02:35:24 UTC-4` to `2020-10-17 08:05:21 UTC-4`. I changed my hosting setup on Thursday and I made a mistake that allowed this to happen.

I'm working to prevent this from happening again.

[2020-10-17 13:49] gnarea commented on #535
Thanks @chdsbd! No worries at all. Glad it's back up.

I'm leaving this issue open in case you're using it to track any remaining work, but feel free to close it if it's done now.

[2020-10-18 19:33] mattjw commented on #529
Thank you for having a look at this request.

That's right 👍.

`autoupdate_label` is exactly the config I was looking for when reading through the [reference](https://kodiakhq.com/docs/config-reference). I saw `merge.automerge_label` and was hoping to find the auto-update counterpart.

Maybe the semantics of having options `update.always=True` and `update.autoupdate_label = "blabla"` could be a li

[2020-10-21 10:38] pheew opened #537 "ignored_usernames only working when update.always === true"
In general kodiak works great so thanks for creating it 👍

On our pretty large repo we use renovate to create PRs for dependency management. We also have a branch policy in place to force branches to always be up-to-date before merging. This is to prevent issues with lockfiles getting out of sync.

The problem we face is that, as soon as kodiak updates a renovate PR, renovate will no longer update

[2020-10-21 13:09] chdsbd commented on #537
Would turning off `update.always` work for your use case?

When `update.always` is disabled Kodiak will only update a branch just before it merges the pull request, so you shouldn't see any conflicts with Renovate.

[2020-10-21 14:40] pheew commented on #537
Ideally would actually like to disable `update.always` but the trouble with that is that also disables `ignored_usernames` which means Kodiak will start updating renovate PRs as well.

So our problem really boils down to the `ignored_usernames` only working when `update.always` is enabled

[2020-10-21 14:49] pheew commented on #537
Just be clear, you're right in that it will work. But we need be careful with adding the `merge` label one by one.

[2020-10-21 21:43] chdsbd commented on #537
I think I understand.

If Renovate PRs are out-of-date with their target branches, Kodiak should skip them and let Renovate update them later.

Currently if you let Kodiak update the Renovate PRs, the first one will merge, but the following ones will get conflicts and Renovate won't fix them if they've been updated by Kodiak.

Is that all correct?

Out of curiosity, do you know how long it takes f

[2020-10-21 21:53] chdsbd commented on #537
I think changing the behavior of `update.ignored_usernames` would be a backwards incompatible change. So I think we need to add a new config option, like `update.never_update_ignored_usernames`, which would make it so Kodiak would skip `update.ignored_usernames` when merging a PR.

[2020-10-22 09:42] pheew commented on #537
Yeah exactly right 👍

It responds to merges to the base branch and updates on the PR using GitHub hooks just like kodiak so the turn around time is quite short. It isn't very smart about determining priority so it will just update all pending dependency PRs though.

Currently it seems the defined behavior of a set `update.ignored_usernames` without `update.always` being `true` is that the `update.

[2020-10-24 14:51] chdsbd commented on #529
[`update.autoupdate_label`](https://kodiakhq.com/docs/config-reference#updateautoupdate_label) is now available. Let me know if you have any issues.

[2020-10-24 14:51] #529 closed

[2020-10-25 14:21] mattjw commented on #529
Thank you @chdsbd! 🙇 This opens the path to trying Kodiak here. Will be in touch if we do hit any trouble.

[2020-10-27 12:13] hugo commented on #537
This is also an issue for Dependabot updates, and I would be equally interested in a solution. Dependabot is (sometimes) much slower at updating PRs than it sounds like Renovate is, so this is a frequent issue for my team.

[2020-10-27 13:47] chdsbd commented on #537
Thanks for the report @hugo.

I'll try to get a fix out for this by next week.

@pheew I think you're right that it's okay to change `update.ignored_usernames` without adding another flag. That config option was added specifically for Dependabot updates anyway.

[2020-10-27 15:05] hugo commented on #537
Appreciate you jumping on this so fast, @chdsbd. Very happy to know I should soon never have to write another `@dependabot recreate` comment again 😄.

[2020-10-30 11:18] etiennetremel opened #545 "How to improve performance for self-hosted Kodiak"
Thanks again for this amazing tool. We are using it intensively in our organization and for this reason we decided to use the host it ourselves.

The [self-hosting page](https://kodiakhq.com/docs/self-hosting) doesn't mention anything about high availability. Kodiak react on Github events via webhook so Kodiak should run at least on 2 instances if we don't want to miss any events.

When an event i

[2020-10-30 13:07] chdsbd commented on #545
Kodiak is limited to 1 request per second to the GitHub API, so if you have a lot of activity it may take Kodiak some time (minutes) to catch up.

Kodiak does not support running multiple instances. GitHub sends enough webhook requests that it's usually okay if Kodiak misses a few events.

A slowdown of a few hours is _not_ expected. My guess is there's some error Kodiak is hitting and it's just l

[2020-10-30 14:18] etiennetremel commented on #545
Thanks for the quick reply and explanation, we don't have Sentry setup yet, I will look into it.

From time to time we are seeing the following timeouts in the logs:
[code]
Can this be a pointer?

[2020-10-30 14:46] etiennetremel commented on #545
Is Sentry only available on the webui? I only see `SENTRY_DSN` available there. I'm using the bot image: `cdignam/kodiak`

[2020-10-31 23:45] chdsbd commented on #537
#544 has been released to resolve this issue.

Now when a pull request's author matches `update.ignored_usernames`, Kodiak will never update the pull request, unless `update.autoupdate_label` is applied to the pull request.

[2020-10-31 23:45] #537 closed

[2020-11-02 14:58] clxmstaab opened #549 "delete branch when PR is closed"
would it be possible that kodiak would delete the underlying branch of a pull request, when the pull request is closed?

we see stale branches in our repo, because devs close PRs but forget to do another click which removes the branch.

[2020-11-02 23:28] chdsbd commented on #549
This seems doable. Do you have an idea about what the config option would be? Maybe we need a new config section because I don't think it fits into the `[merge]` section.

[2020-11-03 09:00] clxmstaab commented on #549
I feel it could be a "[close]" section.

analog to `merge.delete_branch_on_merge` I guess it could be `close.delete_branch_on_close`

[2020-11-03 11:30] clxmstaab opened #550 "strip content from pull request body on merge"
we are using https://pullrequestbadge.com/ which adds pull request badges into our PR descriptions based on keywords in the PR title (e.g. a JIRA Issue key)

example how this looks like:

![image](https://user-images.githubusercontent.com/47448731/97979732-f8878980-1dcf-11eb-93f4-a91fce18f9c2.png)

the badges get inserted by a github marketplace app automatically.

since we use the PR-body as a co

[2020-11-03 11:32] clxmstaab commented on #550
@stefanbuck would it be possible to sorround the generated badges with some "marker" markup, so tools like kodiak could strip it?

or maybe even pullrequestbadge itself could strip the markup again before the PR gets merged?

[2020-11-03 14:51] chdsbd commented on #550
I think if the content was wrapped with HTML with a specific `id` the content would be easy to identify and remove.

[code]

[code]

We could also maybe do something with comments and remove content between specific comments.
[code]

[code]

I think the challenge is finding syntax that looks okay if it's _not_ removed.

[2020-11-04 17:59] etiennetremel commented on #545
Thanks @sbdchd , I added Sentry earlier this week and I can see few different type of events but the one that is a bit more outstanding is this one:

[code]

[2020-11-04 21:05] mariadb-JeffBachtel opened #551 "Helm chart for bot deployment"
I was looking to create a Helm chart for deployment of kodiak on some Kubernetes infrastructure we have. Would you accept such a chart in a PR to this repo? I'd love to give back, OTOH I could understand not wanting to bring that in-tree.

[2020-11-04 21:14] stefanbuck commented on #550
Possible, but that way you remove badges from merged PRs. Personally I find it quite useful when looking at an older PR (particular  the JIRA badge). However, there is already a separator comment: ``. Everything before this comment can safely removed since Pull Request Badge insert badges on top always.

[2020-11-04 23:13] sbdchd commented on #551
There are some existing Helm charts floating around like: https://github.com/FikaWorks/helm-charts/tree/e02529d592fc4572aa156718811140a94b3e6d2f/charts/kodiak

I think it would be better to link to your helm chart in the self-hosting docs, as we don't use Helm so it would probably atrophy in the repo itself.

[2020-11-04 23:15] sbdchd commented on #545
I think you must be on an old version because the timeouts in `kodiak/pull_request.py` are at 30 seconds instead of 10.

Possibly related: https://github.com/chdsbd/kodiak/commit/c7b7a393b1395b90b9464fcf4626867415e20711

[2020-11-04 23:23] sbdchd commented on #550
I think to be safe, it would be better if there was a closing comment after the PR Badge content.
That way we don't accidentally delete someone's commit message if they happen to put stuff at the top.

So I think a generic solution would look something like:

[code]

and then Kodiak would delete any content inside comments that begin with a prefix like `PR-BADGE`

I think the config @chdsbd outlin

[2020-11-05 00:29] mariadb-JeffBachtel commented on #551
FikaWorks's chart looks good, I'll add docs to self-hosting and link to it, if you think that'd be okay. Thanks for the response

[2020-11-05 01:22] sbdchd commented on #551
yup that works for me

[2020-11-05 10:15] etiennetremel commented on #545
Rightly spotted, I was using an old version from the 6th of July d9708b0. Oops 🙈
I will keep it running for a bit and see how that goes. Meanwhile, I will close this issue and re-open if we notice any weird behavior.

Thanks all for taking the time to help!

[2020-11-05 10:15] #545 closed

[2020-11-05 14:25] stefanbuck commented on #550
I see your point, but this is not possible. Pull Request Badge runs whenever the description is added or updated. That way badges are always on top. If you still have strong feeling I'm happy to add such an opening comment

[2020-11-05 22:41] chdsbd commented on #545
@etiennetremel If you haven't already done so, you may want to subscribe to release notifications on this repository, so you can get bug fixes and avoid issues with GitHub API changes.

https://docs.github.com/en/enterprise-server@2.20/github/receiving-notifications-about-activity-on-github/watching-and-unwatching-releases-for-a-repository#watching-releases-for-a-repository

[2020-11-05 22:44] sbdchd commented on #550
Gotcha, I think if there is an opening comment as well, then this feature can be used with any tool that adds stuff to a PR body.

With only the closing comment we'd have to do a one-off for PR Badge which is doable, but it would be nice if we added something more general for other bots

[2020-11-05 22:47] chdsbd commented on #549
I think an implementation for this would be similar to the logic for branch deletion on merge. We'd need to add a new config option and do something similar to delete_branch_on_merge:

https://github.com/chdsbd/kodiak/blob/2ecca4ed181432b192292084719e3796d9997812/bot/kodiak/evaluation.py#L736-L751

[2020-11-05 23:04] blacha opened #552 "Supporting restricting pull request titles to conventional commits"
I have a number of projects that I use both [conventional commits](https://www.conventionalcommits.org/en/v1.0.0/) and kodiak

We have generally standardized on a config that looks something like

[code]

My goal is to prevent pull requests being merged unless their title matches conventional commits.

I have regexp that could be used for a `whitelist` `^((build|chore|ci|docs|feat|fix|perf|refacto

[2020-11-06 00:33] chdsbd commented on #552
Kodiak currently doesn't support linting pull requests, but I don't think it would be too hard to add.

For reference, expanding Kodiak to lint PRs was previously mentioned here: https://github.com/chdsbd/kodiak/issues/521#issuecomment-708069237

I think the config could look something like this:
[code]

The implementation would be similar to `merge.blocking_title_regex`, except we'd set a blockin

[2020-11-08 20:55] blacha commented on #552
Thanks for responding so quickly

There does seem to be a few github apps that support this feature eg https://github.com/apps/title-lint I didn't really want to install another app and configure it just to validate titles.

When I saw the `blocking_title_regex` I thought there might be a easy way to handle this inside kodiak :)

[2020-11-09 20:24] haghabozorgi opened #554 "add additional conditional to approve.auto_approve_usernames"
Currently kodiak supports `approve.auto_approve_usernames`.

It would be nice if there were some additional conditional like a label (e.g `approve.auto_approve_labels`) to allow some further customization. If you are using a single github 'bot user' account for example for more than one automation task, you might want to have some of the bot users PRs auto-approved, and other PRs not. If they are

[2020-11-09 22:52] chdsbd commented on #554
Interesting idea. I think the implementation would be similar to `approve.auto_approve_usernames`.

https://github.com/chdsbd/kodiak/blob/ec209b151b8a4dc4c9b0c36ae5cb12d9419feb52/bot/kodiak/evaluation.py#L606-L621

We'd need to add a new configuration option and update the logic in `evaluation.py`.

I think `approve.auto_approve_labels` and `approve.auto_approve_usernames` being separate such that

[2020-11-10 14:21] csprle opened #555 "Feature Request: Multiple configurations for different labels"
Is it possible to have multiple merge configurations for different labels with Kodiak?
The problem is, for specific pull requests we want to have them merged at prio1 without having to look at other PRs that may have the `automerge` label on them and are waiting in queue.
For all other pull requests, we want the standard queue.

One solution could be adding a second config for another label:

[cod

[2020-11-10 22:02] staabm opened #556 "Queue positions per target branch"
We see unnecessary queueing of merges, which lead to wait-times.
In our case it’s unnecessary because we see PR B and PR C wait for PR A, even though B and C have a different target branch then A.
Even when all checks on PR B and C are green, they still wait for PR A (which in our case takes 30-45 minutes longer to complete its checks)

Wouldn‘t it make sense to use separate queues per target bran

[2020-11-10 23:52] chdsbd commented on #555
I think your second suggestion is easier to implement. Basically we want to add a label that will allow a PR to skip the merge queue.

We'd need to update this code that checks for `merge.prioritize_ready_to_merge` to also check for the existence of the `merge.prioritize_ready_to_merge_label` label on the pull request.

https://github.com/chdsbd/kodiak/blob/ec209b151b8a4dc4c9b0c36ae5cb12d9419feb52

[2020-11-11 00:12] chdsbd commented on #556
You're right, there's only one merge queue. It definitely makes more sense to have a queue per target branch.

This is where we currently queue pull requests.
https://github.com/chdsbd/kodiak/blob/ec209b151b8a4dc4c9b0c36ae5cb12d9419feb52/bot/kodiak/queue.py#L273-L290

I'm not 100% certain, but I think if we update this function to return a queue name based on the target branch, that should give us

[2020-11-11 22:55] chdsbd commented on #555
I think the config option should probably be called something like `merge.priority_merge_label`.

I think we have two options for implementing this feature.

We could disable the merge queue to prevent a race between the merge queue updating and merging a pull request while we try to update and merge our priority pull request.

A simpler idea is to place our priority pull request at the front of t

[2020-11-12 08:43] csprle commented on #555
Yes, placing it at the front of the merge queue is what we need. No need to disable the whole queue.

[2020-11-13 04:41] #551 closed

[2020-11-16 20:25] gharlan commented on #277
I don't agree here. In our project the pr description is often outdated, when finally merging the pr. That is the reason why I don't want to include the description in the final commit. But I still would like to get the co authors.

[2020-11-16 23:08] chdsbd commented on #277
Yeah, that sounds good to me. Thanks for the feedback.

I think it's a one line change to remove the check on `merge.message.body`:

https://github.com/chdsbd/kodiak/blob/da1e1bfaa0b4909fa9f3ee4fe996436233c5234f/bot/kodiak/evaluation.py#L194-L197

[2020-11-19 15:53] rdmulford opened #562 "[self-hosted] 500 error on status_event"
Hey there, looking forward to utilizing this app! We're trying to get it set up on our own architecture but are running into this error on status events:

[code]

Events such as `requested` and `synchronize` seem to be working (200 response) but any status check events are throwing this error. I'm looking for information on understanding this error and seeing if we can get it resolved. Please let

[2020-11-19 18:52] chirag04 commented on #323
@chdsbd came here searching for a feature to setup scheduled merges. like add automerge label but merge it a specific time instead of doing it immediately. maybe a separate label along with automerge to specify the time of merge?

[2020-11-19 23:59] chdsbd commented on #562
@rdmulford I'd double check that you have all the GitHub App permissions correctly configured: https://kodiakhq.com/docs/permissions#github-app-permissions

The error you've found hard to work from alone. If you setup https://sentry.io via the `SENTRY_DSN` environment variable, you'll probably be able to get more information about the errors.

If that issue persists you could try reproducing with

[2020-11-20 02:15] rdmulford commented on #562
@chdsbd Hi, thanks for the quick response! After digging in a little more I actually think I know what the issue is. Im trying to run this on our enterprise instance of github, so when kodiak makes an api call to api.github.com (for example here - https://github.com/chdsbd/kodiak/blob/c8de897eab3fb1c78516a504fa9f331021384a9a/bot/kodiak/queries.py#L1177) it fails since its not hitting our internal

[2020-11-20 02:42] chdsbd commented on #562
@rdmulford This is the config file the bot uses: https://github.com/chdsbd/kodiak/blob/2fdd161bfd955de8218dd79804e28f9fff59d4e0/bot/kodiak/app_config.py

I think we'd need to add a couple new options to `app_config.py` to meet your use case:

[code]

We'd need to update our API calls to use the new api root config in `bot/kodiak/queries.py`, `bot/kodiak/cli.py`, and `bot/kodiak/refresh_pull_reques

[2020-11-20 15:50] rdmulford commented on #562
@chdsbd Awesome thanks for the breakdown! It doesn't seem to be too big of a change, I'll see if I can implement it and verify that it fixes the problem and adds support for github enterprise.

[2020-11-21 18:48] #562 closed

[2020-11-23 03:46] chdsbd commented on #277
@gharlan #561 is now deployed so `include_coauthors` should now work with `body = "empty"`.

[2020-11-24 15:05] ardeois commented on #550
I would be interested in a similar feature, but I would like to suggest a different configuration approach.

At my work, we used [bors](https://bors.tech/) in the past but switch to Kodiak later, as it's more flexible. Bors has a [configuration](https://bors.tech/documentation/#configuration-borstoml) named `cut_body_after` :

We found this config very useful, and would like a similar feature for

[2020-11-25 19:03] chdsbd commented on #550
@ardeois's suggestion seems like it would work.
[code]

I think we'd need to add a couple config options to: https://github.com/chdsbd/kodiak/blob/59d155d90c07952e56174ad2e1a3f59851694cdd/bot/kodiak/config.py#L33-L45

And update this function to use those new config options: https://github.com/chdsbd/kodiak/blob/59d155d90c07952e56174ad2e1a3f59851694cdd/bot/kodiak/evaluation.py#L65-L77

[2020-11-26 07:29] stefanbuck commented on #550
@chdsbd please let me know if you still need the opening comment. I just had no time to do it, but should be easy.

[2020-11-26 14:58] chdsbd commented on #550
@stefanbuck I think we're all set know thanks to @ardeois's suggestion.

With the "cut_body_before" option we can remove the badges by specifying the PR-Badge comment.

[2020-11-26 15:04] clxmstaab commented on #550
As I understood it, the solution of @ardeois will work for us, in case @stefanbuck will add the necessary markup

[2020-11-28 10:16] gharlan opened #576 "Exclude kodiak and other merge users from co-authors"
It seems that if kodiak has updated a pr and if `include_coauthors` is activated, kodiak becomes a co-author. [Example](https://github.com/redaxo/redaxo/commit/3fae54984677b32368d4008069af9a9a402620ff)
I think it should be excluded from the co-author list.

Or maybe exclude all `[bot]` users?

[2020-11-28 10:24] gharlan opened #577 "Too many blank lines before co-authors if message body is empty"
If the message body is empty (because pr description is empty or `body` is configured as `empty`) there are too many blank lines between title and co-authors.

Example commit message:

[code]

[2020-11-28 10:35] gharlan commented on #576
Or maybe exclude all merge commits?
If I click on the "Update branch" button on github, I become the author of the merge commit.
I have not tested it, but I suspect that I would become a co-author then, too.

[2020-11-28 12:38] gharlan commented on #576
I have tested it now, and yes, the user who clicked `Updated branch` in a pr, becomes a co-author.

[2020-11-28 17:20] chdsbd commented on #576
Excluding Kodiak from coauthors should be a simple change. We'd need to update this code to exclude Kodiak.
https://github.com/chdsbd/kodiak/blob/871cf119cd888dd7bbdf2e763761a53030e5a868/bot/kodiak/evaluation.py#L172-L178

It seems like filtering out all merge commits is a little more complicated. One solution I think is to fetch `parents.totalCount` for each commit and exclude commits with more t

[2020-11-28 18:03] chdsbd commented on #577
To match [the GitHub docs](https://docs.github.com/en/free-pro-team@latest/github/committing-changes-to-your-project/creating-a-commit-with-multiple-authors) we add two new lines before the coauthor trailers.

<img width="692" alt="Screen Shot 2020-11-28 at 1 01 07 PM" src="https://user-images.githubusercontent.com/1929960/100522826-ca505c00-3179-11eb-8c69-ca0e14d57fd3.png">

It seems that GitHub

[2020-11-29 05:47] chdsbd commented on #577
#578 has been deployed which should resolve this issue. Let me know if you run into any issues.

[2020-11-29 05:47] #577 closed

[2020-11-29 05:47] chdsbd commented on #576
#581 has been deployed which should resolve this issue by ignoring merge commits for coauthors. Let me know if you run into any issues.

[2020-11-29 05:47] #576 closed

[2020-11-29 05:47] chdsbd commented on #556
#572 has been deployed which should resolve this issue. Let me know if you run into any issues.

[2020-11-29 05:47] #556 closed

[2020-11-29 05:48] chdsbd commented on #555
#573 has been deployed which should resolve this issue. Let me know if you run into any issues.

[2020-11-29 05:48] #555 closed

[2020-11-29 13:48] gharlan commented on #576
Thanks for the quick fixes. 👍

[2020-12-01 09:04] clxmstaab opened #585 "kodiak does not work atm"
are there any known problem with the kodiak bot right now?

it does no longer show up in some of our PRs (which worked before)

[2020-12-01 09:43] csprle commented on #585
We have the same issue. At first, I was adding the `automerge` label but Kodiak was still waiting for this label. Now kodiak doesn't show up at all in the GitHub pull request checks.

[2020-12-01 09:53] lassesteffen commented on #585
Same here

[2020-12-01 12:58] chdsbd commented on #585
Sorry, I'm looking into this now.

[2020-12-01 13:23] chdsbd commented on #585
This should be resolved now. I'm working on gradually triggering all installations for revaluation, but you can edit a pull request to trigger Kodiak to run again.

Kodiak was down for 6.5 hours, starting at 2020-12-01 01:32:20 UTC-5 and resolving at 2020-12-01 08:02:17 UTC-5.

I got an alert when Kodiak went down, but I was asleep. I'm going to change the alerting to call me in case of an outage.

[2020-12-01 13:25] lassesteffen commented on #585
You are the best 💯

[2020-12-01 13:26] clxmstaab commented on #585
can confirm, it works again. thx for fixing.

your response time is fast enough for me.. you don't need to interrupt your night for us :).

thx again!